:root {
  /* --- */
  --carousel-p-fill-black: transparent;
  --carousel-p-border-black: #6a9ea5;
  --carousel-p-fill-hover-black: #6a9ea5;
  --carousel-p-border-hover-black: #6a9ea5;
  --carousel-p-fill-active-black: #ca385b;
  --carousel-p-border-active-black: #ca385b;

  --carousel-p-fill-white: transparent;
  --carousel-p-border-white: #6a9ea5;
  --carousel-p-fill-hover-white: #6a9ea5;
  --carousel-p-border-hover-white: #6a9ea5;
  --carousel-p-fill-active-white: #ca385b;
  --carousel-p-border-active-white: #ca385b;

  --carousel-p-fill-dark: transparent;
  --carousel-p-border-dark: #6a9ea5;
  --carousel-p-fill-hover-dark: #6a9ea5;
  --carousel-p-border-hover-dark: #6a9ea5;
  --carousel-p-fill-active-dark: #ca385b;
  --carousel-p-border-active-dark: #ca385b;

  --carousel-p-fill-light: transparent;
  --carousel-p-border-light: #6a9ea5;
  --carousel-p-fill-hover-light: #6a9ea5;
  --carousel-p-border-hover-light: #6a9ea5;
  --carousel-p-fill-active-light: #ca385b;
  --carousel-p-border-active-light: #ca385b;

  --carousel-pagintation-size: 14px;
  --carousel-pagintation-border: 1px;
  --carousel-pagintation-offest: 15px;
  --carousel-pagintation-margin: 4px;

  --carousel-nav-width: 27px;
  --carousel-nav-height: 44px;
  --carousel-nav-thickness: 2;
  --carousel-nav-offset: 15px;
  --carousel-nav-padding: 0px;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  padding: var(--carousel-nav-padding);
  background-image: none;
  //left: var(--carousel-nav-offset);
  right: auto;
  width: var(--carousel-nav-width);
  height: var(--carousel-nav-height);
  margin-top: calc(-1 * var(--carousel-nav-height) / 2);
  background-size: var(--carousel-nav-width) var(--carousel-nav-height);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  z-index: 1000;

  &:after {
    display: none;
  }
  &.outside {
    &.offset-none {
      left: calc(-1 * var(--carousel-nav-width));
    }

    &.offset-element {
      left: calc(
        ((var(--carousel-nav-width) / 2) + (var(--element-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-xxl) / 2)) * -1
        );
      }
    }

    &.offset-intro {
      left: calc(
        ((var(--carousel-nav-width) / 2) + (var(--intro-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-xxl) / 2)) * -1
        );
      }
    }

    &.offset-section {
      left: calc(
        ((var(--carousel-nav-width) / 2) + (var(--section-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        left: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-xxl) / 2)) * -1
        );
      }
    }
  }

  &.inside {
    &.offset-none {
      left: 0px;
    }

    &.offset-element {
      left: calc((var(--element-xs) / 2) - (var(--carousel-nav-width) / 2));

      @include media-breakpoint-up(sm) {
        left: calc((var(--element-sm) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(md) {
        left: calc((var(--element-md) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(lg) {
        left: calc((var(--element-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        left: calc((var(--element-xl) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xxl) {
        left: calc((var(--element-xxl) / 2) - (var(--carousel-nav-width) / 2));
      }
    }

    &.offset-intro {
      left: calc((var(--intro-xs) / 2) - (var(--carousel-nav-width) / 2));

      @include media-breakpoint-up(sm) {
        left: calc((var(--intro-sm) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(md) {
        left: calc((var(--intro-md) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(lg) {
        left: calc((var(--intro-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        left: calc((var(--intro-xl) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xxl) {
        left: calc((var(--intro-xxl) / 2) - (var(--carousel-nav-width) / 2));
      }
    }
    &.offset-section {
      left: calc((var(--section-xs) / 2) - (var(--carousel-nav-width) / 2));

      @include media-breakpoint-up(sm) {
        left: calc((var(--section-sm) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(md) {
        left: calc((var(--section-md) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(lg) {
        left: calc((var(--section-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        left: calc((var(--section-xl) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xxl) {
        left: calc((var(--section-xxl) / 2) - (var(--carousel-nav-width) / 2));
      }
    }
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  padding: var(--carousel-nav-padding);
  background-image: none;
  left: auto;
  //right: var(--carousel-nav-offset);
  width: var(--carousel-nav-width);
  height: var(--carousel-nav-height);
  margin-top: calc(-1 * var(--carousel-nav-height) / 2);
  background-size: var(--carousel-nav-width) var(--carousel-nav-height);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  z-index: 1000;

  &:after {
    display: none;
  }

  &.outside {
    &.offset-none {
      right: calc(-1 * var(--carousel-nav-width));
    }

    &.offset-element {
      right: calc(
        ((var(--carousel-nav-width) / 2) + (var(--element-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--element-xxl) / 2)) * -1
        );
      }
    }

    &.offset-intro {
      right: calc(
        ((var(--carousel-nav-width) / 2) + (var(--intro-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--intro-xxl) / 2)) * -1
        );
      }
    }

    &.offset-section {
      right: calc(
        ((var(--carousel-nav-width) / 2) + (var(--section-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        right: calc(
          ((var(--carousel-nav-width) / 2) + (var(--section-xxl) / 2)) * -1
        );
      }
    }
  }

  &.inside {
    &.offset-none {
      right: 0px;
    }

    &.offset-element {
      right: calc((var(--element-xs) / 2) - (var(--carousel-nav-width) / 2));

      @include media-breakpoint-up(sm) {
        right: calc((var(--element-sm) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(md) {
        right: calc((var(--element-md) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(lg) {
        right: calc((var(--element-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        right: calc((var(--element-xl) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xxl) {
        right: calc((var(--element-xxl) / 2) - (var(--carousel-nav-width) / 2));
      }
    }

    &.offset-intro {
      right: calc((var(--intro-xs) / 2) - (var(--carousel-nav-width) / 2));

      @include media-breakpoint-up(sm) {
        right: calc((var(--intro-sm) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(md) {
        right: calc((var(--intro-md) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(lg) {
        right: calc((var(--intro-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        right: calc((var(--intro-xl) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xxl) {
        right: calc((var(--intro-xxl) / 2) - (var(--carousel-nav-width) / 2));
      }
    }
    &.offset-section {
      right: calc((var(--section-xs) / 2) - (var(--carousel-nav-width) / 2));

      @include media-breakpoint-up(sm) {
        right: calc((var(--section-sm) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(md) {
        right: calc((var(--section-md) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(lg) {
        right: calc((var(--section-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        right: calc((var(--section-xl) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xxl) {
        right: calc((var(--section-xxl) / 2) - (var(--carousel-nav-width) / 2));
      }
    }
  }
}

.gallery-nav {
  stroke-width: var(--carousel-nav-thickness);
  fill: none;
  stroke: currentColor;
}

.swiper-pagination {
  height: var(--carousel-pagintation-size);
  top: auto !important;
  display: flex;
  justify-content: center;

  &.outside {
    &.offset-none {
      bottom: calc(-1 * var(--carousel-pagintation-size));
    }

    &.offset-element {
      bottom: calc(
        ((var(--carousel-pagintation-size) / 2) + (var(--element-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--element-sm) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(md) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--element-md) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(lg) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--element-lg) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--element-xl) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(xxl) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--element-xxl) / 2)) *
            -1
        );
      }
    }

    &.offset-intro {
      bottom: calc(
        ((var(--carousel-pagintation-size) / 2) + (var(--intro-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--intro-sm) / 2)) * -1
        );
      }

      @include media-breakpoint-up(md) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--intro-md) / 2)) * -1
        );
      }

      @include media-breakpoint-up(lg) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--intro-lg) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--intro-xl) / 2)) * -1
        );
      }

      @include media-breakpoint-up(xxl) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--intro-xxl) / 2)) * -1
        );
      }
    }

    &.offset-section {
      bottom: calc(
        ((var(--carousel-pagintation-size) / 2) + (var(--section-xs) / 2)) * -1
      );

      @include media-breakpoint-up(sm) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--section-sm) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(md) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--section-md) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(lg) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--section-lg) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--section-xl) / 2)) *
            -1
        );
      }

      @include media-breakpoint-up(xxl) {
        bottom: calc(
          ((var(--carousel-pagintation-size) / 2) + (var(--section-xxl) / 2)) *
            -1
        );
      }
    }
  }

  &.inside {
    &.offset-none {
      bottom: 0px;
    }

    &.offset-element {
      bottom: calc(
        (var(--element-xs) / 2) - (var(--carousel-pagintation-size) / 2)
      );

      @include media-breakpoint-up(sm) {
        bottom: calc(
          (var(--element-sm) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(md) {
        bottom: calc(
          (var(--element-md) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(lg) {
        bottom: calc((var(--element-lg) / 2) - (var(--carousel-nav-width) / 2));
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(
          (var(--element-xl) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(xxl) {
        bottom: calc(
          (var(--element-xxl) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }
    }

    &.offset-intro {
      bottom: calc(
        (var(--intro-xs) / 2) - (var(--carousel-pagintation-size) / 2)
      );

      @include media-breakpoint-up(sm) {
        bottom: calc(
          (var(--intro-sm) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(md) {
        bottom: calc(
          (var(--intro-md) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(lg) {
        bottom: calc(
          (var(--intro-lg) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(
          (var(--intro-xl) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(xxl) {
        bottom: calc(
          (var(--intro-xxl) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }
    }
    &.offset-section {
      bottom: calc(
        (var(--section-xs) / 2) - (var(--carousel-pagintation-size) / 2)
      );

      @include media-breakpoint-up(sm) {
        bottom: calc(
          (var(--section-sm) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(md) {
        bottom: calc(
          (var(--section-md) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(lg) {
        bottom: calc(
          (var(--section-lg) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(xl) {
        bottom: calc(
          (var(--section-xl) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }

      @include media-breakpoint-up(xxl) {
        bottom: calc(
          (var(--section-xxl) / 2) - (var(--carousel-pagintation-size) / 2)
        );
      }
    }
  }
}

.swiper-pagination-bullet {
  width: var(--carousel-pagintation-size);
  height: var(--carousel-pagintation-size);
  opacity: 1;
  margin: 0 var(--carousel-pagintation-margin) !important;
}

.text-black {
  .swiper-pagination-bullet {
    background: var(--carousel-p-fill-black);
    border: var(--carousel-pagintation-border) solid
      var(--carousel-p-border-black);
  }

  .swiper-pagination-bullet:hover {
    background: var(--carousel-p-fill-hover-black);
    border-color: var(--carousel-p-border-hover-black);
  }

  .swiper-pagination-bullet-active {
    background: var(--carousel-p-fill-active-black);
    border-color: var(--carousel-p-border-active-black);
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    color: var(--carousel-p-border-black);
  }

  .swiper-button-prev:hover,
  .swiper-container-rtl .swiper-button-next:hover {
    color: var(--carousel-p-border-hover-black);
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    color: var(--carousel-p-border-black);
  }

  .swiper-button-next:hover,
  .swiper-container-rtl .swiper-button-prev:hover {
    color: var(--carousel-p-border-hover-black);
  }
}

.text-white {
  .swiper-pagination-bullet {
    background: var(--carousel-p-fill-white);
    border: var(--carousel-pagintation-border) solid
      var(--carousel-p-border-white);
  }

  .swiper-pagination-bullet:hover {
    background: var(--carousel-p-fill-hover-white);
    border-color: var(--carousel-p-border-hover-white);
  }

  .swiper-pagination-bullet-active {
    background: var(--carousel-p-fill-active-white);
    border-color: var(--carousel-p-border-active-white);
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    color: var(--carousel-p-border-white);
  }

  .swiper-button-prev:hover,
  .swiper-container-rtl .swiper-button-next:hover {
    color: var(--carousel-p-border-hover-white);
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    color: var(--carousel-p-border-white);
  }

  .swiper-button-next:hover,
  .swiper-container-rtl .swiper-button-prev:hover {
    color: var(--carousel-p-border-hover-white);
  }
}

.text-light {
  .swiper-pagination-bullet {
    background: var(--carousel-p-fill-light);
    border: var(--carousel-pagintation-border) solid
      var(--carousel-p-border-light);
  }

  .swiper-pagination-bullet:hover {
    background: var(--carousel-p-fill-hover-light);
    border-color: var(--carousel-p-border-hover-light);
  }

  .swiper-pagination-bullet-active {
    background: var(--carousel-p-fill-active-light);
    border-color: var(--carousel-p-border-active-light);
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    color: var(--carousel-p-border-light);
  }

  .swiper-button-prev:hover,
  .swiper-container-rtl .swiper-button-next:hover {
    color: var(--carousel-p-border-hover-light);
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    color: var(--carousel-p-border-light);
  }

  .swiper-button-next:hover,
  .swiper-container-rtl .swiper-button-prev:hover {
    color: var(--carousel-p-border-hover-light);
  }
}

.text-dark {
  .swiper-pagination-bullet {
    background: var(--carousel-p-fill-dark);
    border: var(--carousel-pagintation-border) solid
      var(--carousel-p-border-dark);
  }

  .swiper-pagination-bullet:hover {
    background: var(--carousel-p-fill-hover-dark);
    border-color: var(--carousel-p-border-hover-dark);
  }

  .swiper-pagination-bullet-active {
    background: var(--carousel-p-fill-active-dark);
    border-color: var(--carousel-p-border-active-dark);
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    color: var(--carousel-p-border-dark);
  }

  .swiper-button-prev:hover,
  .swiper-container-rtl .swiper-button-next:hover {
    color: var(--carousel-p-border-hover-dark);
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    color: var(--carousel-p-border-dark);
  }

  .swiper-button-next:hover,
  .swiper-container-rtl .swiper-button-prev:hover {
    color: var(--carousel-p-border-hover-dark);
  }
}
