.down-arrow {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -100px;
  z-index: 5000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;

  svg {
    width: auto;
    height: 1.25vw;
  }

  .arrow {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
  }

  &:hover {
    color: #fc8061;

    .arrow {
      fill: none;
      stroke: #fc8061;
      stroke-width: 2px;
    }
  }
}
