.m-mobile-element {
  @include media-breakpoint-down(lg) {
    margin: var(--element-xs);

    @include media-breakpoint-up(sm) {
      margin: var(--element-sm);
    }

    @include media-breakpoint-up(md) {
      margin: var(--element-md);
    }
  }
}

.m-mobile-intro {
  @include media-breakpoint-down(lg) {
    margin: var(--intro-xs);

    @include media-breakpoint-up(sm) {
      margin: var(--intro-sm);
    }

    @include media-breakpoint-up(md) {
      margin: var(--intro-md);
    }
  }
}

.m-t-mobile-none {
  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }
}

.m-t-mobile-element-half {
  @include media-breakpoint-down(lg) {
    margin-top: calc(var(--element-xs) / 2);

    @include media-breakpoint-up(sm) {
      margin-top: calc(var(--element-sm) / 2);
    }

    @include media-breakpoint-up(md) {
      margin-top: calc(var(--element-md) / 2);
    }
  }
}

.m-t-mobile-element {
  @include media-breakpoint-down(lg) {
    margin-top: var(--element-xs);

    @include media-breakpoint-up(sm) {
      margin-top: var(--element-sm);
    }

    @include media-breakpoint-up(md) {
      margin-top: var(--element-md);
    }
  }
}

.m-t-mobile-intro {
  @include media-breakpoint-down(lg) {
    margin-top: var(--intro-xs);

    @include media-breakpoint-up(sm) {
      margin-top: var(--intro-sm);
    }

    @include media-breakpoint-up(md) {
      margin-top: var(--intro-md);
    }
  }
}

.m-t-mobile-section {
  @include media-breakpoint-down(lg) {
    margin-top: var(--section-xs);

    @include media-breakpoint-up(sm) {
      margin-top: var(--section-sm);
    }

    @include media-breakpoint-up(md) {
      margin-top: var(--section-md);
    }
  }
}

.m-r-mobile-none {
  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}

.m-r-mobile-element {
  @include media-breakpoint-down(lg) {
    margin-right: var(--element-xs);

    @include media-breakpoint-up(sm) {
      margin-right: var(--element-sm);
    }

    @include media-breakpoint-up(md) {
      margin-right: var(--element-md);
    }
  }
}

.m-r-mobile-intro {
  @include media-breakpoint-down(lg) {
    margin-right: var(--intro-xs);

    @include media-breakpoint-up(sm) {
      margin-right: var(--intro-sm);
    }

    @include media-breakpoint-up(md) {
      margin-right: var(--intro-md);
    }
  }
}

.m-r-mobile-section {
  @include media-breakpoint-down(lg) {
    margin-right: var(--section-xs);

    @include media-breakpoint-up(sm) {
      margin-right: var(--section-sm);
    }

    @include media-breakpoint-up(md) {
      margin-right: var(--section-md);
    }
  }
}

.m-b-mobile-none {
  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
  }
}

.m-b-mobile-element-half {
  @include media-breakpoint-down(lg) {
    margin-bottom: calc(var(--element-xs) / 2);

    @include media-breakpoint-up(sm) {
      margin-bottom: calc(var(--element-sm) / 2);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: calc(var(--element-md) / 2);
    }
  }
}

.m-b-mobile-element {
  @include media-breakpoint-down(lg) {
    margin-bottom: var(--element-xs);

    @include media-breakpoint-up(sm) {
      margin-bottom: var(--element-sm);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: var(--element-md);
    }
  }
}

.m-b-mobile-intro {
  @include media-breakpoint-down(lg) {
    margin-bottom: var(--intro-xs);

    @include media-breakpoint-up(sm) {
      margin-bottom: var(--intro-sm);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: var(--intro-md);
    }
  }
}

.m-b-mobile-section {
  @include media-breakpoint-down(lg) {
    margin-bottom: var(--section-xs);

    @include media-breakpoint-up(sm) {
      margin-bottom: var(--section-sm);
    }

    @include media-breakpoint-up(md) {
      margin-bottom: var(--section-md);
    }
  }
}

.m-l-mobile-none {
  @include media-breakpoint-down(lg) {
    margin-left: 0;
  }
}

.m-l-mobile-element {
  @include media-breakpoint-down(lg) {
    margin-left: var(--element-xs);

    @include media-breakpoint-up(sm) {
      margin-left: var(--element-sm);
    }

    @include media-breakpoint-up(md) {
      margin-left: var(--element-md);
    }
  }
}

.m-l-mobile-intro {
  @include media-breakpoint-down(lg) {
    margin-left: var(--intro-xs);

    @include media-breakpoint-up(sm) {
      margin-left: var(--intro-sm);
    }

    @include media-breakpoint-up(md) {
      margin-left: var(--intro-md);
    }
  }
}

.m-l-mobile-section {
  @include media-breakpoint-down(lg) {
    margin-left: var(--section-xs);

    @include media-breakpoint-up(sm) {
      margin-left: var(--section-sm);
    }

    @include media-breakpoint-up(md) {
      margin-left: var(--section-md);
    }
  }
}

.m-mobile-section {
  @include media-breakpoint-down(lg) {
    margin: var(--section-xs);

    @include media-breakpoint-up(sm) {
      margin: var(--section-sm);
    }

    @include media-breakpoint-up(md) {
      margin: var(--section-md);
    }
  }
}

.m-b-mobile-90px {
  @include media-breakpoint-down(lg) {
    margin-bottom: 90px;
  }
}
