:root {
  /* --- */
  --text-color-black-headings: #0f272d;
  --text-color-black-copy: #0f272d;
  --text-color-black-links: #fc8061;
  --text-color-black-links-hover: #fc8061;
  --text-color-black-alt: #fc8061;
  --text-color-black-overlay: #fff;

  /* --- */
  --text-color-white-headings: #fff;
  --text-color-white-copy: #fff;
  --text-color-white-links: #66ffd0;
  --text-color-white-links-hover: #fc8061;
  --text-color-white-alt: #66ffd0;
  --text-color-white-overlay: #000;

  /* --- */
  --text-color-dark-headings: #05282d;
  --text-color-dark-copy: #032c33;
  --text-color-dark-links: #fc8061;
  --text-color-dark-links-hover: #fc8061;
  --text-color-dark-alt: #fc8061;
  --text-color-dark-overlay: #687f82;

  /* --- */
  --text-color-light-headings: #fff;
  --text-color-light-copy: #9eb6b9;
  --text-color-light-links: #fc8061;
  --text-color-light-links-hover: #fc8061;
  --text-color-light-alt: #fc8061;
  --text-color-light-overlay: #9eb6b9;
  --text-color-light-quote: #efefeb;
}

.text-black {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color-black-headings);
  }

  p,
  ol,
  ul,
  blockquote {
    color: var(--text-color-black-copy);
  }

  cite {
    color: var(--text-color-black-copy);
  }

  a {
    color: var(--text-color-black-links);

    &:hover {
      color: var(--text-color-black-links-hover);
    }
  }

  .alt {
    color: var(--text-color-dark-alt);
  }

  .red {
    color: #ca385b;
  }

  .gold {
    color: #d5a65a;
  }

  .text-seperator {
    .seperator-inner {
      &::before {
        background: var(--text-color-black-copy);
      }
    }
  }

  .bg-overlay {
    background: var(--text-color-black-overlay);
  }

  .number {
    color: var(--text-color-black-alt);
  }

  .text-border {
    border: 1px solid var(--text-color-black-alt);
    border-radius: clamp(
      var(--element-min),
      var(--element),
      var(--element-max)
    );
  }

  blockquote {
    &:before {
      background: var(--text-color-black-alt);
    }
  }

  .arrow-link {
    .arrow-colour {
      stroke: var(--text-color-black-links);
    }

    &:hover {
      .arrow-colour {
        stroke: var(--text-color-black-links-hover);
      }
    }
  }

  h2 {
    &:after {
      background: var(--text-color-black-alt) !important;
    }
  }
}

.text-white {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color-white-headings);

    .lead-in-heading {
      color: var(--text-color-white-alt);
    }
  }

  p,
  ol,
  ul,
  blockquote {
    color: var(--text-color-white-copy);
  }

  cite {
    color: var(--text-color-white-copy);
  }

  a {
    color: var(--text-color-white-links);

    &:hover {
      color: var(--text-color-white-links-hover);
    }
  }

  .alt {
    color: var(--text-color-white-alt);
  }

  .seperator-inner {
    &::before {
      background: var(--text-color-white-copy);
    }
  }

  .bg-overlay {
    background: var(--text-color-white-overlay);
  }

  .number {
    color: var(--text-color-white-alt);
  }

  .text-border {
    border: 1px solid var(--text-color-white-alt);
    border-radius: clamp(
      var(--element-min),
      var(--element),
      var(--element-max)
    );
  }

  blockquote {
    &:before {
      background: var(--text-color-white-alt);
    }
  }

  .arrow-link {
    .arrow-colour {
      stroke: var(--text-color-white-links);
    }

    &:hover {
      .arrow-colour {
        stroke: var(--text-color-white-links-hover);
      }
    }
  }

  h2 {
    &:after {
      background: var(--text-color-white-alt) !important;
    }
  }
}

.text-light {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color-light-headings);

    .lead-in-heading {
      color: var(--text-color-light-alt);
    }
  }

  p,
  ol,
  ul {
    color: var(--text-color-light-copy);
  }

  blockquote {
    color: var(--text-color-light-quote);
    p {
      color: var(--text-color-light-quote) !important;
    }
  }

  cite {
    color: var(--text-color-light-copy);
  }

  a {
    color: var(--text-color-light-links);

    &:hover {
      color: var(--text-color-light-links-hover);
    }
  }

  .alt {
    color: var(--text-color-light-alt);
  }

  .red {
    color: #ca385b;
  }

  .gold {
    color: #d5a65a;
  }

  .seperator-inner {
    &::before {
      background: var(--text-color-light-copy);
    }
  }

  .bg-overlay {
    background: var(--text-color-light-overlay);
  }

  .number {
    color: var(--text-color-light-alt);
  }

  .text-border {
    border: 1px solid var(--text-color-light-alt);
    border-radius: clamp(
      var(--element-min),
      var(--element),
      var(--element-max)
    );
  }

  blockquote {
    &:before {
      background: var(--text-color-light-alt);
    }
  }

  .arrow-link {
    .arrow-colour {
      stroke: var(--text-color-light-links);
    }

    &:hover {
      .arrow-colour {
        stroke: var(--text-color-light-links-hover);
      }
    }
  }

  h2 {
    &:after {
      background: var(--text-color-light-alt) !important;
    }
  }
}

.text-dark {
  input {
    color: #687f82;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #687f82;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #687f82;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #687f82;
  }

  a {
    color: var(--text-color-dark-links);

    &:hover {
      color: var(--text-color-dark-links-hover);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color-dark-headings);
  }

  h1.lead-in-heading,
  h2.lead-in-heading,
  h3.lead-in-heading {
    color: var(--text-color-dark-alt);
  }

  h1 {
    .lead-in-heading {
      color: var(--text-color-dark-alt);
    }
  }

  h2 {
    .lead-in-heading {
      color: var(--text-color-dark-alt);
    }
  }

  h3 {
    color: var(--text-color-dark-copy);

    .lead-in-heading {
      color: var(--text-color-dark-copy);

      a {
        color: var(--text-color-dark-links) !important;
        text-decoration: none !important;
      }
    }
  }

  h4 {
    color: var(--text-color-dark-alt);

    &.lead-in-heading {
      line-height: 1.2 !important;
      a {
        color: var(--text-color-dark-alt) !important;
        text-decoration: none !important;
      }
    }
  }

  .single {
    &.lead-in-heading {
      color: var(--text-color-dark-alt);
    }
  }

  .location {
    &.lead-in-heading {
      color: var(--text-color-dark-copy);
    }
  }

  p,
  ol,
  ul,
  blockquote {
    color: var(--text-color-dark-copy);
  }

  cite {
    color: var(--text-color-dark-copy);

    a {
      color: var(--text-color-dark-copy);
    }
  }

  .alt {
    color: var(--text-color-dark-alt);
  }

  .red {
    color: #ca385b;
  }

  .gold {
    color: #d5a65a;
  }

  .seperator-inner {
    &::before {
      background: var(--text-color-dark-copy);
    }
  }

  .bg-overlay {
    background: var(--text-color-dark-overlay);
  }

  .number {
    color: var(--text-color-dark-alt);
  }

  .text-border {
    border: 1px solid var(--text-color-dark-alt);
    border-radius: clamp(
      var(--element-min),
      var(--element),
      var(--element-max)
    );
  }

  blockquote {
    &:before {
      background: var(--text-color-dark-alt);
    }
  }

  .arrow-link {
    .arrow-colour {
      stroke: var(--text-color-dark-links);
    }

    &:hover {
      .arrow-colour {
        stroke: var(--text-color-dark-links-hover);
      }
    }
  }

  h2 {
    &:after {
      background: var(--text-color-dark-alt) !important;
    }
  }
}
