:root {
  --text-size-x-large-h1-size: 4.2rem;
  --text-size-x-large-h1-padding: 2rem;
  --text-size-x-large-h1-line-height: 1;
  --text-size-x-large-h1-letter-spacing: normal;
  --text-size-x-large-h1-weight: 900;
  --text-size-x-large-h1-transform: none;

  /* -- */
  --text-size-x-large-h2-size: 2.4rem;
  --text-size-x-large-h2-padding: 1rem;
  --text-size-x-large-h2-line-height: 1;
  --text-size-x-large-h2-letter-spacing: normal;
  --text-size-x-large-h2-weight: 900;
  --text-size-x-large-h2-transform: none;

  /* -- */
  --text-size-x-large-h3-size: 1.33rem;
  --text-size-x-large-h3-padding: 0.5rem;
  --text-size-x-large-h3-line-height: 1;
  --text-size-x-large-h3-letter-spacing: normal;
  --text-size-x-large-h3-weight: 900;
  --text-size-x-large-h3-transform: none;

  /* -- */
  --text-size-x-large-h4-size: 1.33rem;
  --text-size-x-large-h4-padding: 0.5rem;
  --text-size-x-large-h4-line-height: 1;
  --text-size-x-large-h4-letter-spacing: normal;
  --text-size-x-large-h4-weight: 900;
  --text-size-x-large-h4-transform: none;

  /* -- */
  --text-size-x-large-p-size: 1.33rem;
  --text-size-x-large-p-padding: 1rem;
  --text-size-x-large-p-line-height: 1.5;
  --text-size-x-large-p-letter-spacing: normal;
  --text-size-x-large-p-weight: normal;
  --text-size-x-large-p-transform: none;

  /* -- */
  --text-size-x-large-q-p-size: 1.33rem;
  --text-size-x-large-q-p-padding: 1rem;
  --text-size-x-large-q-p-line-height: 1.5;
  --text-size-x-large-q-p-letter-spacing: normal;
  --text-size-x-large-q-p-weight: normal;
  --text-size-x-large-q-p-transform: none;

  /* -- */
  --text-size-x-large-q-c-size: 1rem;
  --text-size-x-large-q-c-padding: 1rem;
  --text-size-x-large-q-c-line-height: 1.5;
  --text-size-x-large-q-c-letter-spacing: normal;
  --text-size-x-large-q-c-weight: normal;
  --text-size-x-large-q-c-transform: none;

  /* -- */
  --text-size-x-large-scale-xs: 1;
  --text-size-x-large-scale-sm: 1;
  --text-size-x-large-scale-md: 1;
  --text-size-x-large-scale-lg: 1;
  --text-size-x-large-scale-xl: 1;
  --text-size-x-large-scale-xxl: 1;
}

.x-large {
  h1,
  .h1 {
    margin: 0;
    font-size: calc(var(--text-size-x-large-h1-size) * var(--text-size-x-large-scale-xs));
    padding-bottom: calc(var(--text-size-x-large-h1-padding) * var(--text-size-x-large-scale-xs));
    line-height: var(--text-size-x-large-h1-line-height);
    letter-spacing: var(--text-size-x-large-h1-letter-spacing);
    font-weight: var(--text-size-x-large-h1-weight);
    text-transform: var(--text-size-x-large-h1-transform);

    @include media-breakpoint-up(sm) {
      font-size: calc(var(--text-size-x-large-h1-size) * var(--text-size-x-large-scale-sm));
      padding-bottom: calc(var(--text-size-x-large-h1-padding) * var(--text-size-x-large-scale-sm));
    }

    @include media-breakpoint-up(md) {
      font-size: calc(var(--text-size-x-large-h1-size) * var(--text-size-x-large-scale-md));
      padding-bottom: calc(var(--text-size-x-large-h1-padding) * var(--text-size-x-large-scale-md));
    }

    @include media-breakpoint-up(lg) {
      font-size: calc(var(--text-size-x-large-h1-size) * var(--text-size-x-large-scale-lg));
      padding-bottom: calc(var(--text-size-x-large-h1-padding) * var(--text-size-x-large-scale-lg));
    }

    @include media-breakpoint-up(xl) {
      font-size: calc(var(--text-size-x-large-h1-size) * var(--text-size-x-large-scale-xl));
      padding-bottom: calc(var(--text-size-x-large-h1-padding) * var(--text-size-x-large-scale-xl));
    }

    @include media-breakpoint-up(xxl) {
      font-size: calc(var(--text-size-x-large-h1-size) * var(--text-size-x-large-scale-xxl));
      padding-bottom: calc(var(--text-size-x-large-h1-padding) * var(--text-size-x-large-scale-xxl));
    }
  }

  h2,
  .h2 {
    margin: 0;
    font-size: calc(var(--text-size-x-large-h2-size) * var(--text-size-x-large-scale-xs));
    padding-bottom: calc(var(--text-size-x-large-h2-padding) * var(--text-size-x-large-scale-xs));
    line-height: var(--text-size-x-large-h2-line-height);
    letter-spacing: var(--text-size-x-large-h2-letter-spacing);
    font-weight: var(--text-size-x-large-h2-weight);
    text-transform: var(--text-size-x-large-h2-transform);

    @include media-breakpoint-up(sm) {
      font-size: calc(var(--text-size-x-large-h2-size) * var(--text-size-x-large-scale-sm));
      padding-bottom: calc(var(--text-size-x-large-h2-padding) * var(--text-size-x-large-scale-sm));
    }

    @include media-breakpoint-up(md) {
      font-size: calc(var(--text-size-x-large-h2-size) * var(--text-size-x-large-scale-md));
      padding-bottom: calc(var(--text-size-x-large-h2-padding) * var(--text-size-x-large-scale-md));
    }

    @include media-breakpoint-up(lg) {
      font-size: calc(var(--text-size-x-large-h2-size) * var(--text-size-x-large-scale-lg));
      padding-bottom: calc(var(--text-size-x-large-h2-padding) * var(--text-size-x-large-scale-lg));
    }

    @include media-breakpoint-up(xl) {
      font-size: calc(var(--text-size-x-large-h2-size) * var(--text-size-x-large-scale-xl));
      padding-bottom: calc(var(--text-size-x-large-h2-padding) * var(--text-size-x-large-scale-xl));
    }

    @include media-breakpoint-up(xxl) {
      font-size: calc(var(--text-size-x-large-h2-size) * var(--text-size-x-large-scale-xxl));
      padding-bottom: calc(var(--text-size-x-large-h2-padding) * var(--text-size-x-large-scale-xxl));
    }
  }

  h3,
  .h3 {
    margin: 0;
    font-size: calc(var(--text-size-x-large-h3-size) * var(--text-size-x-large-scale-xs));
    padding-bottom: calc(var(--text-size-x-large-h3-padding) * var(--text-size-x-large-scale-xs));
    line-height: var(--text-size-x-large-h3-line-height);
    letter-spacing: var(--text-size-x-large-h3-letter-spacing);
    font-weight: var(--text-size-x-large-h3-weight);
    text-transform: var(--text-size-x-large-h3-transform);

    @include media-breakpoint-up(sm) {
      font-size: calc(var(--text-size-x-large-h3-size) * var(--text-size-x-large-scale-sm));
      padding-bottom: calc(var(--text-size-x-large-h3-padding) * var(--text-size-x-large-scale-sm));
    }

    @include media-breakpoint-up(md) {
      font-size: calc(var(--text-size-x-large-h3-size) * var(--text-size-x-large-scale-md));
      padding-bottom: calc(var(--text-size-x-large-h3-padding) * var(--text-size-x-large-scale-md));
    }

    @include media-breakpoint-up(lg) {
      font-size: calc(var(--text-size-x-large-h3-size) * var(--text-size-x-large-scale-lg));
      padding-bottom: calc(var(--text-size-x-large-h3-padding) * var(--text-size-x-large-scale-lg));
    }

    @include media-breakpoint-up(xl) {
      font-size: calc(var(--text-size-x-large-h3-size) * var(--text-size-x-large-scale-xl));
      padding-bottom: calc(var(--text-size-x-large-h3-padding) * var(--text-size-x-large-scale-xl));
    }

    @include media-breakpoint-up(xxl) {
      font-size: calc(var(--text-size-x-large-h3-size) * var(--text-size-x-large-scale-xxl));
      padding-bottom: calc(var(--text-size-x-large-h3-padding) * var(--text-size-x-large-scale-xxl));
    }
  }

  h4,
  .h4 {
    margin: 0;
    font-size: calc(var(--text-size-x-large-h4-size) * var(--text-size-x-large-scale-xs));
    padding-bottom: calc(var(--text-size-x-large-h4-padding) * var(--text-size-x-large-scale-xs));
    line-height: var(--text-size-x-large-h4-line-height);
    letter-spacing: var(--text-size-x-large-h4-letter-spacing);
    font-weight: var(--text-size-x-large-h4-weight);
    text-transform: var(--text-size-x-large-h4-transform);

    @include media-breakpoint-up(sm) {
      font-size: calc(var(--text-size-x-large-h4-size) * var(--text-size-x-large-scale-sm));
      padding-bottom: calc(var(--text-size-x-large-h4-padding) * var(--text-size-x-large-scale-sm));
    }

    @include media-breakpoint-up(md) {
      font-size: calc(var(--text-size-x-large-h4-size) * var(--text-size-x-large-scale-md));
      padding-bottom: calc(var(--text-size-x-large-h4-padding) * var(--text-size-x-large-scale-md));
    }

    @include media-breakpoint-up(lg) {
      font-size: calc(var(--text-size-x-large-h4-size) * var(--text-size-x-large-scale-lg));
      padding-bottom: calc(var(--text-size-x-large-h4-padding) * var(--text-size-x-large-scale-lg));
    }

    @include media-breakpoint-up(xl) {
      font-size: calc(var(--text-size-x-large-h4-size) * var(--text-size-x-large-scale-xl));
      padding-bottom: calc(var(--text-size-x-large-h4-padding) * var(--text-size-x-large-scale-xl));
    }

    @include media-breakpoint-up(xxl) {
      font-size: calc(var(--text-size-x-large-h4-size) * var(--text-size-x-large-scale-xxl));
      padding-bottom: calc(var(--text-size-x-large-h4-padding) * var(--text-size-x-large-scale-xxl));
    }
  }

  p,
  ul,
  ol,
  .p {
    margin: 0;
    font-size: calc(var(--text-size-x-large-p-size) * var(--text-size-x-large-scale-xs));
    padding-bottom: calc(var(--text-size-x-large-p-padding) * var(--text-size-x-large-scale-xs));
    line-height: var(--text-size-x-large-p-line-height);
    letter-spacing: var(--text-size-x-large-p-letter-spacing);
    font-weight: var(--text-size-x-large-p-weight);
    text-transform: var(--text-size-x-large-p-transform);
    // font-family: var(--font-copy);

    @include media-breakpoint-up(sm) {
      font-size: calc(var(--text-size-x-large-p-size) * var(--text-size-x-large-scale-sm));
      padding-bottom: calc(var(--text-size-x-large-p-padding) * var(--text-size-x-large-scale-sm));
    }

    @include media-breakpoint-up(md) {
      font-size: calc(var(--text-size-x-large-p-size) * var(--text-size-x-large-scale-md));
      padding-bottom: calc(var(--text-size-x-large-p-padding) * var(--text-size-x-large-scale-md));
    }

    @include media-breakpoint-up(lg) {
      font-size: calc(var(--text-size-x-large-p-size) * var(--text-size-x-large-scale-lg));
      padding-bottom: calc(var(--text-size-x-large-p-padding) * var(--text-size-x-large-scale-lg));
    }

    @include media-breakpoint-up(xl) {
      font-size: calc(var(--text-size-x-large-p-size) * var(--text-size-x-large-scale-xl));
      padding-bottom: calc(var(--text-size-x-large-p-padding) * var(--text-size-x-large-scale-xl));
    }

    @include media-breakpoint-up(xxl) {
      font-size: calc(var(--text-size-x-large-p-size) * var(--text-size-x-large-scale-xxl));
      padding-bottom: calc(var(--text-size-x-large-p-padding) * var(--text-size-x-large-scale-xxl));
      //font-size: 50px;
    }
  }

  blockquote {
    p {
      margin: 0;
      font-size: calc(var(--text-size-x-large-q-p-size) * var(--text-size-x-large-scale-xs));
      padding-bottom: calc(var(--text-size-x-large-q-p-padding) * var(--text-size-x-large-scale-xs));
      line-height: var(--text-size-x-large-q-p-line-height);
      letter-spacing: var(--text-size-x-large-q-p-letter-spacing);
      font-weight: var(--text-size-x-large-q-p-weight);
      text-transform: var(--text-size-x-large-q-p-transform);

      @include media-breakpoint-up(sm) {
        font-size: calc(var(--text-size-x-large-q-p-size) * var(--text-size-x-large-scale-sm));
        padding-bottom: calc(var(--text-size-x-large-q-p-padding) * var(--text-size-x-large-scale-sm));
      }

      @include media-breakpoint-up(md) {
        font-size: calc(var(--text-size-x-large-q-p-size) * var(--text-size-x-large-scale-md));
        padding-bottom: calc(var(--text-size-x-large-q-p-padding) * var(--text-size-x-large-scale-md));
      }

      @include media-breakpoint-up(lg) {
        font-size: calc(var(--text-size-x-large-q-p-size) * var(--text-size-x-large-scale-lg));
        padding-bottom: calc(var(--text-size-x-large-q-p-padding) * var(--text-size-x-large-scale-lg));
      }

      @include media-breakpoint-up(xl) {
        font-size: calc(var(--text-size-x-large-q-p-size) * var(--text-size-x-large-scale-xl));
        padding-bottom: calc(var(--text-size-x-large-q-p-padding) * var(--text-size-x-large-scale-xl));
      }

      @include media-breakpoint-up(xxl) {
        font-size: calc(var(--text-size-x-large-q-p-size) * var(--text-size-x-large-scale-xxl));
        padding-bottom: calc(var(--text-size-x-large-q-p-padding) * var(--text-size-x-large-scale-xxl));
      }
    }

    cite {
      margin: 0;
      font-size: calc(var(--text-size-x-large-q-c-size) * var(--text-size-x-large-scale-xs));
      padding-bottom: calc(var(--text-size-x-large-q-c-padding) * var(--text-size-x-large-scale-xs));
      line-height: var(--text-size-x-large-q-c-line-height);
      letter-spacing: var(--text-size-x-large-q-c-letter-spacing);
      font-weight: var(--text-size-x-large-q-c-weight);
      text-transform: var(--text-size-x-large-q-c-transform);

      @include media-breakpoint-up(sm) {
        font-size: calc(var(--text-size-x-large-q-c-size) * var(--text-size-x-large-scale-sm));
        padding-bottom: calc(var(--text-size-x-large-q-c-padding) * var(--text-size-x-large-scale-sm));
      }

      @include media-breakpoint-up(md) {
        font-size: calc(var(--text-size-x-large-q-c-size) * var(--text-size-x-large-scale-md));
        padding-bottom: calc(var(--text-size-x-large-q-c-padding) * var(--text-size-x-large-scale-md));
      }

      @include media-breakpoint-up(lg) {
        font-size: calc(var(--text-size-x-large-q-c-size) * var(--text-size-x-large-scale-lg));
        padding-bottom: calc(var(--text-size-x-large-q-c-padding) * var(--text-size-x-large-scale-lg));
      }

      @include media-breakpoint-up(xl) {
        font-size: calc(var(--text-size-x-large-q-c-size) * var(--text-size-x-large-scale-xl));
        padding-bottom: calc(var(--text-size-x-large-q-c-padding) * var(--text-size-x-large-scale-xl));
      }

      @include media-breakpoint-up(xxl) {
        font-size: calc(var(--text-size-x-large-q-c-size) * var(--text-size-x-large-scale-xxl));
        padding-bottom: calc(var(--text-size-x-large-q-c-padding) * var(--text-size-x-large-scale-xxl));
      }
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol {
    &:last-child {
      margin: 0;
      padding: 0;
    }
  }

  ul,
  ol {
    padding-left: 2rem;
  }
}
