:root {
  --text-size-large-h1-min: 3rem;
  --text-size-large-h1: 1rem;
  --text-size-large-h1-max: 1rem;
  --text-size-large-h1-p-min: 1rem;
  --text-size-large-h1-p: 1rem;
  --text-size-large-h1-p-max: 1rem;
  --text-size-large-h1-lh: 1.2;
  --text-size-large-h1-ls: normal;
  --text-size-large-h1-w: 400;
  --text-size-large-h1-t: none;

  --text-size-large-h2-min: 1rem;
  --text-size-large-h2: 1rem;
  --text-size-large-h2-max: 1rem;
  --text-size-large-h2-p-min: 1rem;
  --text-size-large-h2-p: 1rem;
  --text-size-large-h2-p-max: 1rem;
  --text-size-large-h2-lh: 1.2;
  --text-size-large-h2-ls: normal;
  --text-size-large-h2-w: 400;
  --text-size-large-h2-t: none;

  --text-size-large-h3-min: 1.375rem;
  --text-size-large-h3: 1.146vw;
  --text-size-large-h3-max: 5rem;
  --text-size-large-h3-p-min: 1rem;
  --text-size-large-h3-p: 1rem;
  --text-size-large-h3-p-max: 1rem;
  --text-size-large-h3-lh: 1.2;
  --text-size-large-h3-ls: normal;
  --text-size-large-h3-w: 400;
  --text-size-large-h3-t: none;

  --text-size-large-h4-min: 1rem;
  --text-size-large-h4: 1rem;
  --text-size-large-h4-max: 1rem;
  --text-size-large-h4-p-min: 1rem;
  --text-size-large-h4-p: 1rem;
  --text-size-large-h4-p-max: 1rem;
  --text-size-large-h4-lh: 1.2;
  --text-size-large-h4-ls: normal;
  --text-size-large-h4-w: 400;
  --text-size-large-h4-t: none;

  --text-size-large-h5-min: 1rem;
  --text-size-large-h5: 1rem;
  --text-size-large-h5-max: 1rem;
  --text-size-large-h5-p-min: 1rem;
  --text-size-large-h5-p: 1rem;
  --text-size-large-h5-p-max: 1rem;
  --text-size-large-h5-lh: 1.2;
  --text-size-large-h5-ls: normal;
  --text-size-large-h5-w: 400;
  --text-size-large-h5-t: none;

  --text-size-large-p-min: 2.25rem;
  --text-size-large-p: 2.5vw;
  --text-size-large-p-max: 5rem;
  --text-size-large-p-p-min: 1rem;
  --text-size-large-p-p: 1rem;
  --text-size-large-p-p-max: 1rem;
  --text-size-large-p-lh: 1.2;
  --text-size-large-p-ls: normal;
  --text-size-large-p-w: 400;
  --text-size-large-p-t: none;

  --text-size-large-q-min: 2.25rem;
  --text-size-large-q: 2.5vw;
  --text-size-large-q-max: 5rem;
  --text-size-large-q-p-min: 2.25rem;
  --text-size-large-q-p: 2.5vw;
  --text-size-large-q-p-max: 5rem;
  --text-size-large-q-lh: 1.2;
  --text-size-large-q-ls: normal;
  --text-size-large-q-w: 400;
  --text-size-large-q-t: none;

  --text-size-large-c-min: 1.188rem;
  --text-size-large-c: 0.99vw;
  --text-size-large-c-max: 5rem;
  --text-size-large-c-p-min: 1rem;
  --text-size-large-c-p: 1rem;
  --text-size-large-c-p-max: 1rem;
  --text-size-large-c-lh: 1.2;
  --text-size-large-c-ls: normal;
  --text-size-large-c-w: 400;
  --text-size-large-c-t: none;
  --text-size-large-c-style: normal;

  --text-size-large-links-min: 1.375rem;
  --text-size-large-links: 1.146vw;
  --text-size-large-links-max: 5rem;
  --text-size-large-links-t: uppercase;

  --text-size-large-number-min: 1rem;
  --text-size-large-number: 3.542vw;
  --text-size-large-number-max: 5rem;
}

.large {
  h1,
  .h1 {
    margin: 0;
    font-size: clamp(
      var(--text-size-large-h1-min),
      var(--text-size-large-h1),
      var(--text-size-large-h1-max)
    );
    padding-bottom: clamp(
      var(--text-size-large-h1-p-min),
      var(--text-size-large-h1-p),
      var(--text-size-large-h1-p-min)
    );
    letter-spacing: var(--text-size-large-h1-ls);
    font-weight: var(--text-size-large-h1-w);
    text-transform: var(--text-size-large-h1-t);
  }

  h2,
  .h2 {
    margin: 0;
    font-size: clamp(
      var(--text-size-large-h2-min),
      var(--text-size-large-h2),
      var(--text-size-large-h2-max)
    );
    padding-bottom: clamp(
      var(--text-size-large-h2-p-min),
      var(--text-size-large-h2-p),
      var(--text-size-large-h2-p-min)
    );
    line-height: var(--text-size-large-h2-lh);
    letter-spacing: var(--text-size-large-h2-ls);
    font-weight: var(--text-size-large-h2-w);
    text-transform: var(--text-size-large-h2-t);
  }

  h3,
  .h3 {
    margin: 0;
    font-size: clamp(
      var(--text-size-large-h3-min),
      var(--text-size-large-h3),
      var(--text-size-large-h3-max)
    );
    padding-bottom: clamp(
      var(--text-size-large-h3-p-min),
      var(--text-size-large-h3-p),
      var(--text-size-large-h3-p-min)
    );
    line-height: var(--text-size-large-h3-lh);
    letter-spacing: var(--text-size-large-h3-ls);
    font-weight: var(--text-size-large-h3-w);
    text-transform: var(--text-size-large-h3-t);
  }

  h4,
  .h4 {
    margin: 0;
    font-size: clamp(
      var(--text-size-large-h4-min),
      var(--text-size-large-h4),
      var(--text-size-large-h4-max)
    );
    padding-bottom: clamp(
      var(--text-size-large-h4-p-min),
      var(--text-size-large-h4-p),
      var(--text-size-large-h4-p-min)
    );
    line-height: var(--text-size-large-h4-lh);
    letter-spacing: var(--text-size-large-h4-ls);
    font-weight: var(--text-size-large-h4-w);
    text-transform: var(--text-size-large-h4-t);
  }

  p,
  ul,
  ol,
  .p,
  time {
    margin: 0;
    font-size: clamp(
      var(--text-size-large-p-min),
      var(--text-size-large-p),
      var(--text-size-large-p-max)
    );
    padding-bottom: clamp(
      var(--text-size-large-p-p-min),
      var(--text-size-large-p-p),
      var(--text-size-large-p-p-min)
    );
    line-height: var(--text-size-large-p-lh);
    letter-spacing: var(--text-size-large-p-ls);
    font-weight: var(--text-size-large-p-w);
    text-transform: var(--text-size-large-p-t);
  }

  blockquote {
    &:before {
      content: '';
      height: 1px;
      width: 157px;
      top: 0;
      left: 0;
      position: absolute;
    }
    position: relative;
    padding-top: clamp(
      var(--text-size-large-q-p-min),
      var(--text-size-large-q-p),
      var(--text-size-large-q-p-min)
    );
    margin-bottom: 0;
    p {
      margin: 0;
      font-size: clamp(
        var(--text-size-large-q-min),
        var(--text-size-large-q),
        var(--text-size-large-q-max)
      );

      padding-bottom: clamp(
        var(--text-size-large-q-p-min),
        var(--text-size-large-q-p),
        var(--text-size-large-q-p-min)
      );
      line-height: var(--text-size-large-q-lh);
      letter-spacing: var(--text-size-large-q-ls);
      font-weight: var(--text-size-large-q-w);
      text-transform: var(--text-size-large-q-t);
    }

    cite {
      margin: 0;
      font-size: var(--text-size-large-c-xs);
      padding-bottom: var(--text-size-large-c-xs-p);
      line-height: var(--text-size-large-c-lh);
      letter-spacing: var(--text-size-large-c-ls);
      font-weight: var(--text-size-large-c-w);
      text-transform: var(--text-size-large-c-t);
      font-style: var(--text-size-large-c-style);
    }
  }

  .links {
    a {
      text-transform: var(--text-size-large-links-t);
      font-size: clamp(
        var(--text-size-large-links-min),
        var(--text-size-large-links),
        var(--text-size-large-links-max)
      );

      svg {
        width: clamp(
          var(--text-size-large-links-min),
          var(--text-size-large-links),
          var(--text-size-large-links-max)
        );
        height: auto;

        margin-left: clamp(1.2375rem, 1.03vw, 5rem);

        // --text-size-large-links-min: 1.375rem;
        // --text-size-large-links: 1.146vw;
        // --text-size-large-links-max: 5rem;
      }
    }
  }
  .stat {
    .number {
      font-size: clamp(
        var(--text-size-large-number-min),
        var(--text-size-large-number),
        var(--text-size-large-number-max)
      );
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol {
    &:last-child {
      margin: 0;
      padding: 0;
    }
  }

  ul,
  ol {
    padding-left: 2rem;
  }
}
