:root {
  --text-size-medium-h1-min: 3rem;
  --text-size-medium-h1: 1rem;
  --text-size-medium-h1-max: 1rem;
  --text-size-medium-h1-p-min: 1rem;
  --text-size-medium-h1-p: 1rem;
  --text-size-medium-h1-p-max: 1rem;
  --text-size-medium-h1-lh: 1.2;
  --text-size-medium-h1-ls: normal;
  --text-size-medium-h1-w: 400;
  --text-size-medium-h1-t: none;

  --text-size-medium-h2-min: 2.1875rem;
  --text-size-medium-h2: 1.823vw;
  --text-size-medium-h2-max: 6rem;
  --text-size-medium-h2-p-min: 1rem;
  --text-size-medium-h2-p: 3.646vw;
  --text-size-medium-h2-p-max: 6rem;
  --text-size-medium-h2-lh: 1.2;
  --text-size-medium-h2-ls: normal;
  --text-size-medium-h2-w: 400;
  --text-size-medium-h2-t: none;

  --text-size-medium-h3-min: 1.3rem;
  --text-size-medium-h3: 1.25vw;
  --text-size-medium-h3-max: 5rem;
  --text-size-medium-h3-p-min: 1.3rem;
  --text-size-medium-h3-p: 1.25vw;
  --text-size-medium-h3-p-max: 5rem;
  --text-size-medium-h3-lh: 1.2;
  --text-size-medium-h3-ls: normal;
  --text-size-medium-h3-w: 400;
  --text-size-medium-h3-t: none;

  --text-size-medium-h4-min: 1rem;
  --text-size-medium-h4: 1vw;
  --text-size-medium-h4-max: 5rem;
  --text-size-medium-h4-p-min: 1rem;
  --text-size-medium-h4-p: 1vw;
  --text-size-medium-h4-p-max: 5rem;
  --text-size-medium-h4-lh: 1.2;
  --text-size-medium-h4-ls: normal;
  --text-size-medium-h4-w: 400;
  --text-size-medium-h4-t: uppercase;

  --text-size-medium-h5-min: 1rem;
  --text-size-medium-h5: 1rem;
  --text-size-medium-h5-max: 1rem;
  --text-size-medium-h5-p-min: 1rem;
  --text-size-medium-h5-p: 1rem;
  --text-size-medium-h5-p-max: 1rem;
  --text-size-medium-h5-lh: 1.2;
  --text-size-medium-h5-ls: normal;
  --text-size-medium-h5-w: 400;
  --text-size-medium-h5-t: none;

  --text-size-medium-p-min: 1rem;
  --text-size-medium-p: 1.042vw;
  --text-size-medium-p-max: 5rem;
  --text-size-medium-p-p-min: 1rem;
  --text-size-medium-p-p: 1.042vw;
  --text-size-medium-p-p-max: 5rem;
  --text-size-medium-p-lh: 1.2;
  --text-size-medium-p-ls: normal;
  --text-size-medium-p-w: 400;
  --text-size-medium-p-t: none;

  --text-size-medium-q-min: 2.25;
  --text-size-medium-q: 2.5vw;
  --text-size-medium-q-max: 5rem;
  --text-size-medium-q-p-min: 1rem;
  --text-size-medium-q-p: 1rem;
  --text-size-medium-q-p-max: 1rem;
  --text-size-medium-q-lh: 1.2;
  --text-size-medium-q-ls: normal;
  --text-size-medium-q-w: 400;
  --text-size-medium-q-t: none;

  --text-size-medium-c-min: 1rem;
  --text-size-medium-c: 1rem;
  --text-size-medium-c-max: 1rem;
  --text-size-medium-c-p-min: 1rem;
  --text-size-medium-c-p: 1rem;
  --text-size-medium-c-p-max: 1rem;
  --text-size-medium-c-lh: 1.2;
  --text-size-medium-c-ls: normal;
  --text-size-medium-c-w: 400;
  --text-size-medium-c-t: none;

  --text-size-links-a-min: 1.375rem;
  --text-size-links-a: 1.146vw;
  --text-size-links-a-max: 1rem;
}

.medium {
  h1,
  .h1 {
    margin: 0;
    font-size: clamp(
      var(--text-size-medium-h1-min),
      var(--text-size-medium-h1),
      var(--text-size-medium-h1-max)
    );
    padding-bottom: clamp(
      var(--text-size-medium-h1-p-min),
      var(--text-size-medium-h1-p),
      var(--text-size-medium-h1-p-min)
    );
    letter-spacing: var(--text-size-medium-h1-ls);
    font-weight: var(--text-size-medium-h1-w);
    text-transform: var(--text-size-medium-h1-t);
  }

  h2,
  .h2 {
    &:after {
      display: none;
    }
    margin: 0;
    font-size: clamp(
      var(--text-size-medium-h2-min),
      var(--text-size-medium-h2),
      var(--text-size-medium-h2-max)
    );
    padding-bottom: clamp(
      var(--text-size-medium-h2-p-min),
      var(--text-size-medium-h2-p),
      var(--text-size-medium-h2-p-max)
    );
    line-height: var(--text-size-medium-h2-lh);
    letter-spacing: var(--text-size-medium-h2-ls);
    font-weight: var(--text-size-medium-h2-w);
    text-transform: var(--text-size-medium-h2-t);
    position: relative;

    &:after {
      content: '';
      height: 1px;
      width: 157px;
      bottom: clamp(
        var(--text-size-medium-h2-min),
        var(--text-size-medium-h2),
        var(--text-size-medium-h2-max)
      );
      left: 0;
      position: absolute;
      background: #000;
    }
  }

  h3,
  .h3 {
    margin: 0;
    font-size: clamp(
      var(--text-size-medium-h3-min),
      var(--text-size-medium-h3),
      var(--text-size-medium-h3-max)
    );
    padding-bottom: clamp(
      var(--text-size-medium-h3-p-min),
      var(--text-size-medium-h3-p),
      var(--text-size-medium-h3-p-min)
    );
    line-height: var(--text-size-medium-h3-lh);
    letter-spacing: var(--text-size-medium-h3-ls);
    font-weight: var(--text-size-medium-h3-w);
    text-transform: var(--text-size-medium-h3-t);
  }

  h4,
  .h4 {
    margin: 0;
    font-size: clamp(
      var(--text-size-medium-h4-min),
      var(--text-size-medium-h4),
      var(--text-size-medium-h4-max)
    );
    padding-bottom: clamp(
      var(--text-size-medium-h4-p-min),
      var(--text-size-medium-h4-p),
      var(--text-size-medium-h4-p-min)
    );
    line-height: var(--text-size-medium-h4-lh);
    letter-spacing: var(--text-size-medium-h4-ls);
    font-weight: var(--text-size-medium-h4-w);
    text-transform: var(--text-size-medium-h4-t);
  }

  p,
  ul,
  ol,
  .p,
  time {
    margin: 0;
    font-size: clamp(
      var(--text-size-medium-p-min),
      var(--text-size-medium-p),
      var(--text-size-medium-p-max)
    );
    padding-bottom: clamp(
      var(--text-size-medium-p-p-min),
      var(--text-size-medium-p-p),
      var(--text-size-medium-p-p-min)
    );
    line-height: var(--text-size-medium-p-lh);
    letter-spacing: var(--text-size-medium-p-ls);
    font-weight: var(--text-size-medium-p-w);
    text-transform: var(--text-size-medium-p-t);
  }

  blockquote {
    p {
      margin: 0;
      font-size: clamp(
        var(--text-size-medium-q-min),
        var(--text-size-medium-q),
        var(--text-size-medium-q-max)
      );
      padding-bottom: clamp(
        var(--text-size-medium-q-p-min),
        var(--text-size-medium-q-p),
        var(--text-size-medium-q-p-min)
      );
      line-height: var(--text-size-medium-q-lh);
      letter-spacing: var(--text-size-medium-q-ls);
      font-weight: var(--text-size-medium-q-w);
      text-transform: var(--text-size-medium-q-t);
    }

    cite {
      margin: 0;
      font-size: var(--text-size-medium-c-xs);
      padding-bottom: var(--text-size-medium-c-xs-p);
      line-height: var(--text-size-medium-c-lh);
      letter-spacing: var(--text-size-medium-c-ls);
      font-weight: var(--text-size-medium-c-w);
      text-transform: var(--text-size-medium-c-t);
    }
  }

  .links {
    a {
      font-size: clamp(
        var(--text-size-links-a-min),
        var(--text-size-links-a),
        var(--text-size-links-a-max)
      );
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol {
    &:last-child {
      margin: 0;
      padding: 0;
    }
  }

  ul,
  ol {
    padding-left: 2rem;
  }
}
