:root {
  /* --spacing-section-padding: 15rem; */
  --section-min: 60px;
  --section: 5.208vw;
  --section-max: 200px;

  --intro-min: 30px;
  --intro: 2.604vw;
  --intro-max: 200px;

  --element-min: 30px;
  --element: 1.302vw;
  --element-max: 200px;
}

.no-top-padding {
  padding-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top-none {
  padding-top: 0;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-top-section {
  padding-top: clamp(var(--section-min), var(--section), var(--section-max));
}

.padding-bottom-section {
  padding-bottom: clamp(var(--section-min), var(--section), var(--section-max));
}

.padding-top-intro {
  padding-top: clamp(var(--intro-min), var(--intro), var(--intro-max));
}

.padding-bottom-intro {
  padding-bottom: clamp(var(--intro-min), var(--intro), var(--intro-max));
}

.padding-top-element {
  padding-top: clamp(var(--element-min), var(--element), var(--element-max));
}

.padding-bottom-element {
  padding-bottom: clamp(var(--element-min), var(--element), var(--element-max));
}

.margin-top-element {
  margin-top: clamp(var(--element-min), var(--element), var(--element-max));
}

.margin-bottom-element {
  margin-bottom: clamp(var(--element-min), var(--element), var(--element-max));
}

.padding-element {
  padding: clamp(var(--element-min), var(--element), var(--element-max));
}

.padding-none {
  padding: 0;
}
