body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4 {
  font-weight: 300;
}

body#tinymce.wp-editor h1 strong,
body#tinymce.wp-editor h2 strong,
body#tinymce.wp-editor h3 strong,
body#tinymce.wp-editor h4 strong {
  font-weight: 400;
}

body#tinymce.wp-editor p {
  font-weight: 300;
}

body#tinymce.wp-editor .intro {
  font-size: 20px;
}

body#tinymce.wp-editor blockquote p {
  font-size: 20px;
}
