.card-icon {
  height: 100%;
  position: relative;
  border: 0;

  &.bg-colour-none {
    background-color: transparent;
  }

  .icon-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .card-meta {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &.card-padding {
      padding: var(--element-xs);
      padding-bottom: 0;

      @include media-breakpoint-up(sm) {
        padding: var(--element-sm);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        padding: var(--element-md);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        padding: var(--element-lg);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xl) {
        padding: var(--element-xl);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xxl) {
        padding: var(--element-xxl);
        padding-bottom: 0;
      }
    }
  }

  .info {
    flex: 1;
  }

  .button-cta {
    flex: none;
    width: 100%;
    //cursor: pointer;
  }
}
