:root {
  --background-color-white: #fff;
  --background-color-black: #000;
  --background-color-light: #f2f2ef;
  --background-color-dark: #0f272d;

  /* --- */
  --background-color-primary: #0f272d;
  //--background-color-primary: #f0f0f0;
  --background-color-primary-alt: #15363b;
  --background-color-secondary: #f2f2ef;
  --background-color-secondary-alt: #14353a;
}

.bg-colour-white {
  background-color: var(--background-color-white);
}

.bg-colour-black {
  background-color: var(--background-color-black);
}

.bg-colour-light {
  background-color: var(--background-color-light);
}

.bg-colour-dark {
  background-color: var(--background-color-dark);
}

.bg-colour-primary {
  background-color: var(--background-color-primary);
}

.bg-colour-primary-alt {
  background-color: var(--background-color-primary-alt);
}

.bg-colour-secondary {
  background-color: var(--background-color-secondary);
}

.bg-colour-secondary-alt {
  background-color: var(--background-color-secondary-alt);
}
