:root {
  /* --- */
  --button-padding-top: 0.3vw;
  --button-padding-right: 1.2vw;
  --button-padding-bottom: 0.3vw;
  --button-padding-left: 1.2vw;
  --button-font-size: 0.833vw;
  --button-letter-spacing: 1.5px;
  --button-font-weight: normal;
  --button-text-transform: none;
  --button-border-size: 1px;
  --button-border-radius: 2vw;

  --button-padding-sm-top: 0.3vw;
  --button-padding-sm-right: 1.2vw;
  --button-padding-sm-bottom: 0.3vw;
  --button-padding-sm-left: 1.2vw;
  --button-font-sm-size: 0.833vw;
  --button-letter-sm-spacing: 1.5px;

  --button-font-sm-weight: normal;
  --button-text-sm-transform: none;
  --button-border-sm-size: 1px;
  --button-border-sm-radius: 2vw;

  --button-padding-md-top: 0.3vw;
  --button-padding-md-right: 1.2vw;
  --button-padding-md-bottom: 0.3vw;
  --button-padding-md-left: 1.2vw;
  --button-font-md-size: 0.833vw;
  --button-letter-md-spacing: 1.5px;
  --button-font-md-weight: normal;
  --button-text-md-transform: none;
  --button-border-md-size: 1px;
  --button-border-md-radius: 2vw;

  --button-padding-lg-top: 0.3vw;
  --button-padding-lg-right: 1.2vw;
  --button-padding-lg-bottom: 0.3vw;
  --button-padding-lg-left: 1.2vw;
  --button-font-lg-size: 0.833vw;
  --button-letter-lg-spacing: 0.05vw;
  --button-font-lg-weight: normal;
  --button-text-lg-transform: none;
  --button-border-lg-size: 1px;
  --button-border-lg-radius: 2vw;

  --button-padding-xl-top: 0.3vw;
  --button-padding-xl-right: 1.2vw;
  --button-padding-xl-bottom: 0.3vw;
  --button-padding-xl-left: 1.2vw;
  --button-font-xl-size: 0.833vw;
  --button-letter-xl-spacing: 0.1vw;
  --button-font-xl-weight: normal;
  --button-text-xl-transform: none;
  --button-border-xl-size: 1px;
  --button-border-xl-radius: 2vw;

  --button-padding-xxl-top: 0.3vw;
  --button-padding-xxl-right: 1.2vw;
  --button-padding-xxl-bottom: 0.3vw;
  --button-padding-xxl-left: 1.2vw;
  --button-font-xxl-size: 0.833vw;
  --button-letter-xxl-spacing: 0.1vw;
  --button-font-xxl-weight: normal;
  --button-text-xxl-transform: none;
  --button-border-xxl-size: 1px;
  --button-border-xxl-radius: 2vw;

  /* --- */
  --button-scale-xs: 4;
  --button-scale-sm: 3;
  --button-scale-md: 2;
  --button-scale-lg: 1;
  --button-scale-xl: 1;
  --button-scale-xxl: 1;

  /* --- */
  --button-text-color: #fff;
  --button-fill-color: #e55841;
  --button-border-color: #e55841;
  --button-border-shadow: none;

  /* --- */
  --button-text-color-hover: #e55841;
  --button-fill-color-hover: transparent;
  --button-border-color-hover: #e55841;
  --button-border-shadow-hover: none;

  /* --- */
  --button-text-color-black: #fff;
  --button-fill-color-black: #e55841;
  --button-border-color-black: #e55841;
  --button-border-shadow-black: none;

  /* --- */
  --button-text-color-hover-black: #e55841;
  --button-fill-color-hover-black: transparent;
  --button-border-color-hover-black: #e55841;
  --button-border-shadow-hover-black: none;

  /* --- */
  --button-text-color-white: #0f272d;
  --button-fill-color-white: #fff;
  --button-border-color-white: #fff;
  --button-border-shadow-white: none;

  /* --- */
  --button-text-color-hover-white: #0f272d;
  --button-fill-color-hover-white: #d5a65a;
  --button-border-color-hover-white: #d5a65a;
  --button-border-shadow-hover-white: none;

  /* --- */
  --button-text-color-light: #0f272d;
  --button-fill-color-light: #fff;
  --button-border-color-light: #fff;
  --button-border-shadow-light: none;

  /* --- */
  --button-text-color-hover-light: #fff;
  --button-fill-color-hover-light: #d5a65a;
  --button-border-color-hover-light: #d5a65a;
  --button-border-shadow-hover-light: none;

  /* --- */
  --button-text-color-dark: #fff;
  --button-fill-color-dark: #0f272d;
  --button-border-color-dark: #0f272d;
  --button-border-shadow-dark: none;

  /* --- */
  --button-text-color-hover-dark: #0f272d;
  --button-fill-color-hover-dark: #d5a65a;
  --button-border-color-hover-dark: #d5a65a;
  --button-border-shadow-hover-dark: none;
}

.button-cta,
.ctis-load-more,
.inline-button-cta {
  display: block;
  padding-top: 0.4vw;

  @include media-breakpoint-up(lg) {
    display: inline-block;
  }

  a,
  button {
    text-decoration: none;
    width: auto;
    -webkit-transition: all $transition * 2 ease-out;
    -moz-transition: all $transition * 2 ease-out;
    -ms-transition: all $transition * 2 ease-out;
    -o-transition: all $transition * 2 ease-out;
    transition: all $transition * 2 ease-out;
    display: inline-block;
    font-weight: var(--button-font-weight);
    text-transform: var(--button-text-transform);
    font-family: var(--font-buttons);

    -webkit-box-shadow: var(--button-border-shadow);
    -moz-box-shadow: var(--button-border-shadow);
    box-shadow: var(--button-border-shadow);
    padding: calc(var(--button-padding-top) * var(--button-scale-xs))
      calc(var(--button-padding-right) * var(--button-scale-xs))
      calc(var(--button-padding-bottom) * var(--button-scale-xs))
      calc(var(--button-padding-left) * var(--button-scale-xs));
    -webkit-border-radius: calc(
      var(--button-border-radius) * var(--button-scale-xs)
    );
    -moz-border-radius: calc(
      var(--button-border-radius) * var(--button-scale-xs)
    );
    border-radius: calc(var(--button-border-radius) * var(--button-scale-xs));
    letter-spacing: var(--button-letter-sm-spacing);
    font-size: calc(var(--button-font-size) * var(--button-scale-xs));
    //letter-spacing: calc(var(--button-letter-spacing) * var(--button-scale-xs));

    @include media-breakpoint-up(sm) {
      padding: calc(var(--button-padding-top) * var(--button-scale-sm))
        calc(var(--button-padding-right) * var(--button-scale-sm))
        calc(var(--button-padding-bottom) * var(--button-scale-sm))
        calc(var(--button-padding-left) * var(--button-scale-sm));
      -webkit-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-sm)
      );
      -moz-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-sm)
      );
      border-radius: calc(var(--button-border-radius) * var(--button-scale-sm));

      font-size: calc(var(--button-font-size) * var(--button-scale-sm));
      // letter-spacing: calc(
      //   var(--button-letter-spacing) * var(--button-scale-sm)
      // );
    }

    @include media-breakpoint-up(md) {
      padding: calc(var(--button-padding-top) * var(--button-scale-md))
        calc(var(--button-padding-right) * var(--button-scale-md))
        calc(var(--button-padding-bottom) * var(--button-scale-md))
        calc(var(--button-padding-left) * var(--button-scale-md));
      -webkit-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-md)
      );
      -moz-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-md)
      );
      border-radius: calc(var(--button-border-radius) * var(--button-scale-md));

      font-size: calc(var(--button-font-size) * var(--button-scale-md));
      // letter-spacing: calc(
      //   var(--button-letter-spacing) * var(--button-scale-md)
      // );
    }

    @include media-breakpoint-up(lg) {
      padding: calc(var(--button-padding-top) * var(--button-scale-lg))
        calc(var(--button-padding-right) * var(--button-scale-lg))
        calc(var(--button-padding-bottom) * var(--button-scale-lg))
        calc(var(--button-padding-left) * var(--button-scale-lg));
      -webkit-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-lg)
      );
      -moz-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-lg)
      );
      border-radius: calc(var(--button-border-radius) * var(--button-scale-lg));

      font-size: calc(var(--button-font-size) * var(--button-scale-lg));
      letter-spacing: var(--button-letter-lg-spacing);
      // letter-spacing: calc(
      //   var(--button-letter-spacing) * var(--button-scale-lg)
      // );
    }

    @include media-breakpoint-up(xl) {
      padding: calc(var(--button-padding-top) * var(--button-scale-xl))
        calc(var(--button-padding-right) * var(--button-scale-xl))
        calc(var(--button-padding-bottom) * var(--button-scale-xl))
        calc(var(--button-padding-left) * var(--button-scale-xl));
      -webkit-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-xl)
      );
      -moz-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-xl)
      );
      border-radius: calc(var(--button-border-radius) * var(--button-scale-xl));

      font-size: calc(var(--button-font-size) * var(--button-scale-xl));
      // letter-spacing: calc(
      //   var(--button-letter-spacing) * var(--button-scale-xl)
      // );
    }

    @include media-breakpoint-up(xxl) {
      padding: calc(var(--button-padding-top) * var(--button-scale-xxl))
        calc(var(--button-padding-right) * var(--button-scale-xxl))
        calc(var(--button-padding-bottom) * var(--button-scale-xxl))
        calc(var(--button-padding-left) * var(--button-scale-xxl));
      -webkit-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-xxl)
      );
      -moz-border-radius: calc(
        var(--button-border-radius) * var(--button-scale-xxl)
      );
      border-radius: calc(
        var(--button-border-radius) * var(--button-scale-xxl)
      );

      font-size: calc(var(--button-font-size) * var(--button-scale-xxl));
      // letter-spacing: calc(
      //  // var(--button-letter-spacing) * var(--button-scale-xxl)
      // );
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.submit {
      margin-bottom: calc($spacing/2);
    }

    &:hover {
      text-decoration: none;
      -webkit-transition: all $transition * 2 ease-out;
      -moz-transition: all $transition * 2 ease-out;
      -ms-transition: all $transition * 2 ease-out;
      -o-transition: all $transition * 2 ease-out;
      transition: all $transition * 2 ease-out;

      -webkit-box-shadow: var(--button-border-shadow-hover);
      -moz-box-shadow: var(--button-border-shadow-hover);
      box-shadow: var(--button-border-shadow-hover);

      @include media-breakpoint-up(sm) {
      }

      @include media-breakpoint-up(md) {
      }

      @include media-breakpoint-up(lg) {
      }

      @include media-breakpoint-up(xl) {
      }

      @include media-breakpoint-up(xxl) {
      }
    }
  }

  .text-link {
    position: relative;
    padding-left: 40px;
    font-weight: 600;
    line-height: 30px;
    display: block;
    -webkit-transition: all $transition * 2 ease-out;
    -moz-transition: all $transition * 2 ease-out;
    -ms-transition: all $transition * 2 ease-out;
    -o-transition: all $transition * 2 ease-out;
    transition: all $transition * 2 ease-out;
    padding-bottom: $spacing;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      content: '\f054';
      background: #000;
      z-index: 5000;
      //font-family: 'Font Awesome\ 5 Free', sans-serif;
      font-weight: 900;
      font-size: 13px;
      color: #fff;

      text-align: center;
      line-height: 30px;
      -webkit-transition: background $transition * 2 ease-out;
      -moz-transition: background $transition * 2 ease-out;
      -ms-transition: background $transition * 2 ease-out;
      -o-transition: background $transition * 2 ease-out;
      transition: background $transition * 2 ease-out;
    }

    &:hover {
      text-decoration: none;
      padding-left: 50px;
      -webkit-transition: all $transition * 2 ease-out;
      -moz-transition: all $transition * 2 ease-out;
      -ms-transition: all $transition * 2 ease-out;
      -o-transition: all $transition * 2 ease-out;
      transition: all $transition * 2 ease-out;

      &::before {
        background: #000;
        -webkit-transition: background $transition * 2 ease-out;
        -moz-transition: background $transition * 2 ease-out;
        -ms-transition: background $transition * 2 ease-out;
        -o-transition: background $transition * 2 ease-out;
        transition: background $transition * 2 ease-out;
      }
    }
  }

  &.text-center {
    text-align: center;
    width: 100%;

    a {
      margin: 0 auto;
    }
  }

  &.outline {
    text-align: center;

    a {
      margin: 0 auto;
    }
  }
}

.text-dark {
  .button-cta,
  .ctis-load-more,
  .inline-button-cta {
    a,
    button {
      background: var(--button-fill-color-dark);
      border: var(--button-border-size) solid var(--button-border-color-dark);
      color: var(--button-text-color-dark);
      -webkit-box-shadow: var(--button-border-shadow-dark);
      -moz-box-shadow: var(--button-border-shadow-dark);
      box-shadow: var(--button-border-shadow-dark);

      &:hover {
        background: var(--button-fill-color-hover-dark);
        border: var(--button-border-size) solid
          var(--button-border-color-hover-dark);
        color: var(--button-text-color-hover-dark);
        -webkit-box-shadow: var(--button-border-shadow-hover-dark);
        -moz-box-shadow: var(--button-border-shadow-hover-dark);
        box-shadow: var(--button-border-shadow-hover-dark);
      }
    }

    &.outline {
      a {
        color: var(--button-fill-color-dark);
        background: transparent !important;

        &:hover {
          color: var(--text-color-dark-links-hover);
        }
      }
    }
  }
}

.text-light {
  .button-cta,
  .ctis-load-more {
    a,
    button {
      background: var(--button-fill-color-light);
      border: var(--button-border-size) solid var(--button-border-color-light);
      color: var(--button-text-color-light);
      -webkit-box-shadow: var(--button-border-shadow-light);
      -moz-box-shadow: var(--button-border-shadow-light);
      box-shadow: var(--button-border-shadow-light);

      &:hover {
        background: var(--button-fill-color-hover-light);
        border: var(--button-border-size) solid
          var(--button-border-color-hover-light);
        color: var(--button-text-color-hover-light);
        -webkit-box-shadow: var(--button-border-shadow-hover-light);
        -moz-box-shadow: var(--button-border-shadow-hover-light);
        box-shadow: var(--button-border-shadow-hover-light);
      }
    }

    &.text-link {
      a {
        color: var(--text-color-light-links);

        &:hover {
          color: var(--text-color-light-links-hover);
        }
      }
    }

    &.outline {
      a {
        color: var(--button-fill-color-light);
        background: transparent !important;

        &:hover {
          color: var(--text-color-light-links-hover);
        }
      }
    }
  }
}

.text-black {
  .button-cta {
    a {
      background: var(--button-fill-color-black);
      border: var(--button-border-size) solid var(--button-border-color-black);
      color: var(--button-text-color-black);
      -webkit-box-shadow: var(--button-border-shadow-black);
      -moz-box-shadow: var(--button-border-shadow-black);
      box-shadow: var(--button-border-shadow-black);

      &:hover {
        background: var(--button-fill-color-hover-black);
        border: var(--button-border-size) solid
          var(--button-border-color-hover-black);
        color: var(--button-text-color-hover-black);
        -webkit-box-shadow: var(--button-border-shadow-hover-black);
        -moz-box-shadow: var(--button-border-shadow-hover-black);
        box-shadow: var(--button-border-shadow-hover-black);
      }
    }

    &.text-link {
      a {
        color: var(--text-color-black-links);

        &:hover {
          color: var(--text-color-black-links-hover);
        }
      }
    }
  }
}

.text-white {
  .button-cta,
  .inline-button-cta {
    a {
      background: var(--button-fill-color-white);
      border: var(--button-border-size) solid var(--button-border-color-white);
      color: var(--button-text-color-white);
      -webkit-box-shadow: var(--button-border-shadow-white);
      -moz-box-shadow: var(--button-border-shadow-white);
      box-shadow: var(--button-border-shadow-white);

      &:hover {
        background: var(--button-fill-color-hover-white);
        border: var(--button-border-size) solid
          var(--button-border-color-hover-white);
        color: var(--button-text-color-hover-white);
        -webkit-box-shadow: var(--button-border-shadow-hover-white);
        -moz-box-shadow: var(--button-border-shadow-hover-white);
        box-shadow: var(--button-border-shadow-hover-white);
      }
    }

    &.text-link {
      a {
        color: var(--text-color-white-links);

        &:hover {
          color: var(--text-color-white-links-hover);
        }
      }
    }

    &.outline {
      a {
        color: var(--button-fill-color-white);
        background: transparent !important;

        &:hover {
          color: var(--text-color-white-links-hover);
        }
      }
    }
  }
}
.inline-button-cta {
  margin-right: 20px;
}

.inline-button {
  padding-bottom: $spacing;

  a {
    width: auto;
    -webkit-transition: all $transition * 2 ease-out;
    -moz-transition: all $transition * 2 ease-out;
    -ms-transition: all $transition * 2 ease-out;
    -o-transition: all $transition * 2 ease-out;
    transition: all $transition * 2 ease-out;
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 8px 30px 8px 30px;

    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;

    &:hover {
      background: #000;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all $transition * 2 ease-out;
      -moz-transition: all $transition * 2 ease-out;
      -ms-transition: all $transition * 2 ease-out;
      -o-transition: all $transition * 2 ease-out;
      transition: all $transition * 2 ease-out;
    }
  }
}

.serif {
  .cta-holder {
    .link-button,
    .link-button-alt,
    .text-link {
      text-transform: none;

      -moz-border-radius: 350px;
      border-radius: 35px;
      font-weight: 400;
    }
  }
}

.text-dark,
.text-black,
.text-light,
.text-white {
  .button-cta {
    &.text-link {
      a {
        background: transparent;
        padding: 0;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}
