.down-arrow {
  display: inline-block;
  width: 3.958vw;
  height: 3.958vw;
  position: absolute;
  bottom: 3.958vw;
  left: 50%;
  margin-left: -1.979vw;
  z-index: 5000;
  cursor: pointer;

  svg {
    width: 100%;
    height: auto;
    .line {
      stroke: #ca385b;
      stroke-width: 1.5px;
      fill: none;
    }

    .circle {
      stroke: #d1d7d8;
      fill: none;
    }
  }

  &:hover {
    .circle {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}
