:root {
  --text-size-medium-h1-xs: 1rem;
  --text-size-medium-h1-sm: 1rem;
  --text-size-medium-h1-md: 1rem;
  --text-size-medium-h1-lg: 2.604vw;
  --text-size-medium-h1-xl: 2.604vw;
  --text-size-medium-h1-xxl: 2.604vw;
  --text-size-medium-h1-xs-p: 1rem;
  --text-size-medium-h1-sm-p: 1rem;
  --text-size-medium-h1-md-p: 1rem;
  --text-size-medium-h1-lg-p: 2.604vw;
  --text-size-medium-h1-xl-p: 2.604vw;
  --text-size-medium-h1-xxl-p: 2.604vw;
  --text-size-medium-h1-lh: 1.2;
  --text-size-medium-h1-ls: normal;
  --text-size-medium-h1-w: 400;
  --text-size-medium-h1-t: none;

  --text-size-medium-h2-xs: 32px;
  --text-size-medium-h2-sm: 32px;
  --text-size-medium-h2-md: 32px;
  --text-size-medium-h2-lg: 2.604vw;
  --text-size-medium-h2-xl: 2.604vw;
  --text-size-medium-h2-xxl: 2.604vw;
  --text-size-medium-h2-xs-p: 28px;
  --text-size-medium-h2-sm-p: 28px;
  --text-size-medium-h2-md-p: 28px;
  --text-size-medium-h2-lg-p: 2.2vw;
  --text-size-medium-h2-xl-p: 2.2vw;
  --text-size-medium-h2-xxl-p: 2.2vw;
  --text-size-medium-h2-lh: 1.2;
  --text-size-medium-h2-ls: normal;
  --text-size-medium-h2-w: 400;
  --text-size-medium-h2-t: none;

  --text-size-medium-h3-xs: 25px;
  --text-size-medium-h3-sm: 25px;
  --text-size-medium-h3-md: 25px;
  --text-size-medium-h3-lg: 1.667vw;
  --text-size-medium-h3-xl: 1.667vw;
  --text-size-medium-h3-xxl: 1.667vw;
  --text-size-medium-h3-xs-p: 20px;
  --text-size-medium-h3-sm-p: 20px;
  --text-size-medium-h3-md-p: 20px;
  --text-size-medium-h3-lg-p: 1.336vw;
  --text-size-medium-h3-xl-p: 1.336vw;
  --text-size-medium-h3-xxl-p: 1.336vw;
  --text-size-medium-h3-lh: 1.2;
  --text-size-medium-h3-ls: normal;
  --text-size-medium-h3-w: 400;
  --text-size-medium-h3-t: none;

  --text-size-medium-h4-xs: 13px;
  --text-size-medium-h4-sm: 13px;
  --text-size-medium-h4-md: 13px;
  --text-size-medium-h4-lg: 0.781vw;
  --text-size-medium-h4-xl: 0.781vw;
  --text-size-medium-h4-xxl: 0.781vw;
  --text-size-medium-h4-xs-p: 0rem;
  --text-size-medium-h4-sm-p: 0rem;
  --text-size-medium-h4-md-p: 0rem;
  --text-size-medium-h4-lg-p: 0rem;
  --text-size-medium-h4-xl-p: 0rem;
  --text-size-medium-h4-xxl-p: 0rem;
  --text-size-medium-h4-lh: 2;
  --text-size-medium-h4-mobile-ls: 1.5px;
  --text-size-medium-h4-ls: 0.05vw;
  --text-size-medium-h4-w: 400;
  --text-size-medium-h4-t: uppercase;

  --text-size-medium-h5-xs: 1rem;
  --text-size-medium-h5-sm: 1rem;
  --text-size-medium-h5-md: 1rem;
  --text-size-medium-h5-lg: 1rem;
  --text-size-medium-h5-xl: 1rem;
  --text-size-medium-h5-xxl: 1rem;
  --text-size-medium-h5-xs-p: 1rem;
  --text-size-medium-h5-sm-p: 1rem;
  --text-size-medium-h5-md-p: 1rem;
  --text-size-medium-h5-lg-p: 1rem;
  --text-size-medium-h5-xl-p: 1rem;
  --text-size-medium-h5-xxl-p: 1rem;
  --text-size-medium-h5-lh: 1.2;
  --text-size-medium-h5-ls: normal;
  --text-size-medium-h5-w: 400;
  --text-size-medium-h5-t: none;

  --text-size-medium-lead-in-xs: 13px;
  --text-size-medium-lead-in-sm: 13px;
  --text-size-medium-lead-in-md: 13px;
  --text-size-medium-lead-in-lg: 0.781vw;
  --text-size-medium-lead-in-xl: 0.781vw;
  --text-size-medium-lead-in-xxl: 0.781vw;
  --text-size-medium-lead-in-xs-p: 0rem;
  --text-size-medium-lead-in-sm-p: 0rem;
  --text-size-medium-lead-in-md-p: 0rem;
  --text-size-medium-lead-in-lg-p: 0vw;
  --text-size-medium-lead-in-xl-p: 0vw;
  --text-size-medium-lead-in-xxl-p: 0.2vw;
  --text-size-medium-lead-in-lh: 1.2;
  --text-size-medium-lead-in-mobile-ls: 1.5px;
  --text-size-medium-lead-in-ls: 0.1vw;
  --text-size-medium-lead-in-w: 400;
  --text-size-medium-lead-in-t: uppercase;

  --text-size-medium-card-price-xs: 17px;
  --text-size-medium-card-price-sm: 17px;
  --text-size-medium-card-price-md: 17px;
  --text-size-medium-card-price-lg: 0.99vw;
  --text-size-medium-card-price-xl: 0.99vw;
  --text-size-medium-card-price-xxl: 0.99vw;
  --text-size-medium-card-price-xs-p: 0rem;
  --text-size-medium-card-price-sm-p: 0rem;
  --text-size-medium-card-price-md-p: 0rem;
  --text-size-medium-card-price-lg-p: 0vw;
  --text-size-medium-card-price-xl-p: 0vw;
  --text-size-medium-card-price-xxl-p: 0.5vw;
  --text-size-medium-card-price-lh: 1.2;
  --text-size-medium-card-price-mobile-ls: 1.5px;
  --text-size-medium-card-price-desktop-ls: 0.1vw;
  --text-size-medium-card-price-w: 400;
  --text-size-medium-card-price-t: uppercase;

  --text-size-medium-p-xs: 1rem;
  --text-size-medium-p-sm: 1rem;
  --text-size-medium-p-md: 1rem;
  --text-size-medium-p-lg: 1.111vw;
  --text-size-medium-p-xl: 1.111vw;
  --text-size-medium-p-xxl: 1.111vw;
  --text-size-medium-p-xs-p: 1rem;
  --text-size-medium-p-sm-p: 1rem;
  --text-size-medium-p-md-p: 1rem;
  --text-size-medium-p-lg-p: 1.563vw;
  --text-size-medium-p-xl-p: 1.563vw;
  --text-size-medium-p-xxl-p: 1.563vw;
  --text-size-medium-p-lh: 1.4375;
  --text-size-medium-p-ls: 0.5px;
  --text-size-medium-p-lg-ls: 0.026vw;
  --text-size-medium-p-w: 400;
  --text-size-medium-p-t: none;

  --text-size-medium-q-xs: 1rem;
  --text-size-medium-q-sm: 1rem;
  --text-size-medium-q-md: 1rem;
  --text-size-medium-q-lg: 1.667vw;
  --text-size-medium-q-xl: 1.667vw;
  --text-size-medium-q-xxl: 1.667vw;
  --text-size-medium-q-xs-p: 1rem;
  --text-size-medium-q-sm-p: 1rem;
  --text-size-medium-q-md-p: 1.667vw;
  --text-size-medium-q-lg-p: 1.667vw;
  --text-size-medium-q-xl-p: 1.667vw;
  --text-size-medium-q-xxl-p: 1.667vw;
  --text-size-medium-q-lh: 1.06;
  --text-size-medium-q-ls: normal;
  --text-size-medium-q-w: 400;
  --text-size-medium-q-t: none;

  --text-size-medium-c-xs: 13px;
  --text-size-medium-c-sm: 13px;
  --text-size-medium-c-md: 13px;
  --text-size-medium-c-lg: 0.781vw;
  --text-size-medium-c-xl: 0.781vw;
  --text-size-medium-c-xxl: 0.781vw;
  --text-size-medium-c-xs-p: 1rem;
  --text-size-medium-c-sm-p: 1rem;
  --text-size-medium-c-md-p: 1rem;
  --text-size-medium-c-lg-p: 1rem;
  --text-size-medium-c-xl-p: 1rem;
  --text-size-medium-c-xxl-p: 1rem;
  --text-size-medium-c-lh: 1.2;
  --text-size-medium-c-ls: 0.05vw;
  --text-size-medium-c-w: 400;
  --text-size-medium-c-t: none;

  --text-size-medium-list-xs: 1rem;
  --text-size-medium-list-sm: 1rem;
  --text-size-medium-list-md: 1rem;
  --text-size-medium-list-lg: 1rem;
  --text-size-medium-list-xl: 1rem;
  --text-size-medium-list-xxl: 1rem;
  --text-size-medium-list-xs-p: 1rem;
  --text-size-medium-list-sm-p: 1rem;
  --text-size-medium-list-md-p: 1rem;
  --text-size-medium-list-lg-p: 1rem;
  --text-size-medium-list-xl-p: 1rem;
  --text-size-medium-list-xxl-p: 1rem;
  --text-size-medium-list-lh: 1.2;
  --text-size-medium-list-ls: normal;
  --text-size-medium-list-w: 400;
  --text-size-medium-list-t: none;
}

.medium {
  h1,
  .h1 {
    margin: 0;
    font-size: var(--text-size-medium-h1-xs);
    padding-bottom: var(--text-size-medium-h1-xs-p);
    line-height: var(--text-size-medium-h1-lh);
    letter-spacing: var(--text-size-medium-h1-ls);
    font-weight: var(--text-size-medium-h1-w);
    text-transform: var(--text-size-medium-h1-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-h1-sm);
      padding-bottom: var(--text-size-medium-h1-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-h1-md);
      padding-bottom: var(--text-size-medium-h1-md-p);
    }

    @include media-breakpoint-up(lg) {
      font-size: var(--text-size-medium-h1-lg);
      padding-bottom: var(--text-size-medium-h1-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-h1-xl);
      padding-bottom: var(--text-size-medium-h1-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-h1-xxl);
      padding-bottom: var(--text-size-medium-h1-xxl-p);
    }
  }

  h1.lead-in-heading,
  h2.lead-in-heading,
  h3.lead-in-heading {
    margin: 0;
    display: block;
    font-size: var(--text-size-medium-lead-in-xs);
    padding-bottom: var(--text-size-medium-lead-in-xs-p);
    line-height: var(--text-size-medium-lead-in-lh);
    letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
    font-weight: var(--text-size-medium-lead-in-w);
    text-transform: var(--text-size-medium-lead-in-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-lead-in-sm);
      padding-bottom: var(--text-size-medium-lead-in-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-lead-in-md);
      padding-bottom: var(--text-size-medium-lead-in-md-p);
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-lead-in-ls);
      font-size: var(--text-size-medium-lead-in-lg);
      padding-bottom: var(--text-size-medium-lead-in-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-lead-in-xl);
      padding-bottom: var(--text-size-medium-lead-in-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-lead-in-xxl);
      padding-bottom: var(--text-size-medium-lead-in-xxl-p);
    }
  }

  h2,
  .h2 {
    margin: 0;
    font-size: var(--text-size-medium-h2-xs);
    padding-bottom: var(--text-size-medium-h2-xs-p);
    line-height: var(--text-size-medium-h2-lh);
    letter-spacing: var(--text-size-medium-h2-ls);
    font-weight: var(--text-size-medium-h2-w);
    text-transform: var(--text-size-medium-h2-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-h2-sm);
      padding-bottom: var(--text-size-medium-h2-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-h2-md);
      padding-bottom: var(--text-size-medium-h2-md-p);
    }

    @include media-breakpoint-up(lg) {
      font-size: var(--text-size-medium-h2-lg);
      padding-bottom: var(--text-size-medium-h2-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-h2-xl);
      padding-bottom: var(--text-size-medium-h2-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-h2-xxl);
      padding-bottom: var(--text-size-medium-h2-xxl-p);
    }
  }

  h3,
  .h3 {
    margin: 0;
    font-size: var(--text-size-medium-h3-xs);
    padding-bottom: var(--text-size-medium-h3-xs-p);
    line-height: var(--text-size-medium-h3-lh);
    letter-spacing: var(--text-size-medium-h3-ls);
    font-weight: var(--text-size-medium-h3-w);
    text-transform: var(--text-size-medium-h3-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-h3-sm);
      padding-bottom: var(--text-size-medium-h3-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-h3-md);
      padding-bottom: var(--text-size-medium-h3-md-p);
    }

    @include media-breakpoint-up(lg) {
      font-size: var(--text-size-medium-h3-lg);
      padding-bottom: var(--text-size-medium-h3-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-h3-xl);
      padding-bottom: var(--text-size-medium-h3-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-h3-xxl);
      padding-bottom: var(--text-size-medium-h3-xxl-p);
    }
  }

  h4,
  .h4 {
    margin: 0;
    font-family: var(--font-copy);
    font-size: var(--text-size-medium-h4-xs);
    padding-bottom: var(--text-size-medium-h4-xs-p);
    line-height: var(--text-size-medium-h4-lh);
    letter-spacing: var(--text-size-medium-h4-mobile-ls);
    font-weight: var(--text-size-medium-h4-w);
    text-transform: var(--text-size-medium-h4-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-h4-sm);
      padding-bottom: var(--text-size-medium-h4-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-h4-md);
      padding-bottom: var(--text-size-medium-h4-md-p);
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-h4-ls);
      font-size: var(--text-size-medium-h4-lg);
      padding-bottom: var(--text-size-medium-h4-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-h4-xl);
      padding-bottom: var(--text-size-medium-h4-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-h4-xxl);
      padding-bottom: var(--text-size-medium-h4-xxl-p);
    }
  }

  h2 {
    .lead-in-heading {
      margin: 0;
      display: block;
      font-size: var(--text-size-medium-lead-in-xs);
      padding-bottom: var(--text-size-medium-lead-in-xs-p);
      line-height: var(--text-size-medium-lead-in-lh);
      letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
      font-weight: var(--text-size-medium-lead-in-w);
      text-transform: var(--text-size-medium-lead-in-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-lead-in-sm);
        padding-bottom: var(--text-size-medium-lead-in-sm-p);
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-lead-in-md);
        padding-bottom: var(--text-size-medium-lead-in-md-p);
      }

      @include media-breakpoint-up(lg) {
        font-size: var(--text-size-medium-lead-in-lg);
        letter-spacing: var(--text-size-medium-lead-in-ls);
        padding-bottom: var(--text-size-medium-lead-in-lg-p);
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-lead-in-xl);
        padding-bottom: var(--text-size-medium-lead-in-xl-p);
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-lead-in-xxl);
        padding-bottom: var(--text-size-medium-lead-in-xxl-p);
      }
    }
  }

  h3 {
    .lead-in-heading {
      margin: 0;
      display: block;
      font-size: var(--text-size-medium-lead-in-xs);
      padding-bottom: 0;
      line-height: var(--text-size-medium-lead-in-lh);
      letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
      font-weight: var(--text-size-medium-lead-in-w);
      text-transform: var(--text-size-medium-lead-in-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-lead-in-sm);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-lead-in-md);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        letter-spacing: var(--text-size-medium-lead-in-ls);
        font-size: var(--text-size-medium-lead-in-lg);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-lead-in-xl);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-lead-in-xxl);
        padding-bottom: 0;
      }
    }
  }

  .lead-in-heading {
    margin: 0;
    display: block;
    font-size: var(--text-size-medium-lead-in-xs);
    padding-bottom: 0;
    line-height: var(--text-size-medium-lead-in-lh);
    letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
    font-weight: var(--text-size-medium-lead-in-w);
    text-transform: var(--text-size-medium-lead-in-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-lead-in-sm);
      padding-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-lead-in-md);
      padding-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-lead-in-ls);
      font-size: var(--text-size-medium-lead-in-lg);
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-lead-in-xl);
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-lead-in-xxl);
      padding-bottom: 0;
    }
  }

  .lead-in-heading-spacing {
    margin: 0;
    display: block;
    font-size: var(--text-size-medium-lead-in-xs);
    padding-bottom: var(--text-size-medium-lead-in-xs-p);
    line-height: var(--text-size-medium-lead-in-lh);
    letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
    font-weight: var(--text-size-medium-lead-in-w);
    text-transform: var(--text-size-medium-lead-in-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-lead-in-sm);
      padding-bottom: var(--text-size-medium-lead-in-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-lead-in-md);
      padding-bottom: var(--text-size-medium-lead-in-md-p);
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-lead-in-ls);
      font-size: var(--text-size-medium-lead-in-lg);
      padding-bottom: var(--text-size-medium-lead-in-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-lead-in-xl);
      padding-bottom: var(--text-size-medium-lead-in-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-lead-in-xxl);
      padding-bottom: var(--text-size-medium-lead-in-xxl-p);
    }
  }

  .card-price {
    margin: 0;
    display: block;
    font-size: var(--text-size-medium-card-price-xs);
    padding-bottom: var(--text-size-medium-card-price-xs-p);
    line-height: var(--text-size-medium-card-price-lh);
    letter-spacing: var(--text-size-medium-card-price-mobile-ls);
    font-weight: var(--text-size-medium-card-price-w);
    text-transform: var(--text-size-medium-card-price-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-card-price-sm);
      padding-bottom: var(--text-size-medium-card-price-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-card-price-md);
      padding-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-card-price-desktop-ls);
      font-size: var(--text-size-medium-card-price-lg);
      padding-bottom: var(--text-size-medium-card-price-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-card-price-xl);
      padding-bottom: var(--text-size-medium-card-price-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-card-price-xxl);
      padding-bottom: var(--text-size-medium-card-price-xxl-p);
    }
  }

  .single {
    &.lead-in-heading {
      margin: 0;
      display: block;
      font-size: var(--text-size-medium-lead-in-xs);
      padding-bottom: var(--text-size-medium-lead-in-xs-p);
      line-height: var(--text-size-medium-lead-in-lh);
      letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
      font-weight: var(--text-size-medium-lead-in-w);
      text-transform: var(--text-size-medium-lead-in-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-lead-in-sm);
        padding-bottom: var(--text-size-medium-lead-in-sm-p);
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-lead-in-md);
        padding-bottom: var(--text-size-medium-lead-in-md-p);
      }

      @include media-breakpoint-up(lg) {
        letter-spacing: var(--text-size-medium-lead-in-ls);
        font-size: var(--text-size-medium-lead-in-lg);
        padding-bottom: var(--text-size-medium-lead-in-lg-p);
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-lead-in-xl);
        padding-bottom: var(--text-size-medium-lead-in-xl-p);
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-lead-in-xxl);
        padding-bottom: var(--text-size-medium-lead-in-xxl-p);
      }
    }
  }

  .small-caps {
    margin: 0;
    display: block;
    font-size: var(--text-size-medium-lead-in-xs);
    padding-bottom: var(--text-size-medium-lead-in-xs-p);
    line-height: var(--text-size-medium-lead-in-lh);
    letter-spacing: var(--text-size-medium-lead-in-ls);
    font-weight: var(--text-size-medium-lead-in-w);
    text-transform: var(--text-size-medium-lead-in-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-lead-in-sm);
      padding-bottom: var(--text-size-medium-lead-in-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-lead-in-md);
      padding-bottom: var(--text-size-medium-lead-in-md-p);
    }

    @include media-breakpoint-up(lg) {
      font-size: var(--text-size-medium-lead-in-lg);
      padding-bottom: var(--text-size-medium-lead-in-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-lead-in-xl);
      padding-bottom: var(--text-size-medium-lead-in-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-lead-in-xxl);
      padding-bottom: var(--text-size-medium-lead-in-xxl-p);
    }

    input {
      margin: 0;
      display: block;
      font-size: var(--text-size-medium-lead-in-xs);
      padding-bottom: var(--text-size-medium-lead-in-xs-p);
      line-height: var(--text-size-medium-lead-in-lh);
      letter-spacing: var(--text-size-medium-lead-in-ls);
      font-weight: var(--text-size-medium-lead-in-w);
      text-transform: var(--text-size-medium-lead-in-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-lead-in-sm);
        padding-bottom: var(--text-size-medium-lead-in-sm-p);
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-lead-in-md);
        padding-bottom: var(--text-size-medium-lead-in-md-p);
      }

      @include media-breakpoint-up(lg) {
        font-size: var(--text-size-medium-lead-in-lg);
        padding-bottom: var(--text-size-medium-lead-in-lg-p);
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-lead-in-xl);
        padding-bottom: var(--text-size-medium-lead-in-xl-p);
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-lead-in-xxl);
        padding-bottom: var(--text-size-medium-lead-in-xxl-p);
      }
    }
  }

  .nav-primary {
    .lead-in-heading {
      margin: 0;
      display: block;
      font-size: var(--text-size-medium-lead-in-xs);
      padding-bottom: 0;
      line-height: var(--text-size-medium-lead-in-lh);
      letter-spacing: var(--text-size-medium-lead-in-mobile-ls);
      font-weight: var(--text-size-medium-lead-in-w);
      text-transform: var(--text-size-medium-lead-in-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-lead-in-sm);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-lead-in-md);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        letter-spacing: var(--text-size-medium-lead-in-ls);
        font-size: var(--text-size-medium-lead-in-lg);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-lead-in-xl);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-lead-in-xxl);
        padding-bottom: 0;
      }
    }
  }

  p,
  .p,
  time {
    margin: 0;
    font-size: var(--text-size-medium-p-xs);
    padding-bottom: var(--text-size-medium-p-xs-p);
    line-height: var(--text-size-medium-p-lh);
    letter-spacing: var(--text-size-medium-p-ls);
    font-weight: var(--text-size-medium-p-w);
    text-transform: var(--text-size-medium-p-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-p-sm);
      padding-bottom: var(--text-size-medium-p-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-p-md);
      padding-bottom: var(--text-size-medium-p-md-p);
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-p-lg-ls);
      font-size: var(--text-size-medium-p-lg);
      padding-bottom: var(--text-size-medium-p-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-p-xl);
      padding-bottom: var(--text-size-medium-p-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-p-xxl);
      padding-bottom: var(--text-size-medium-p-xxl-p);
    }
  }

  .property-description {
    p {
      margin: 0;
      font-size: var(--text-size-medium-h2-xs);
      padding-bottom: var(--text-size-medium-h2-xs-p);
      line-height: var(--text-size-medium-h2-lh);
      letter-spacing: var(--text-size-medium-h2-ls);
      font-weight: var(--text-size-medium-h2-w);
      text-transform: var(--text-size-medium-h2-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-h2-sm);
        padding-bottom: var(--text-size-medium-h2-sm-p);
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-h2-md);
        padding-bottom: var(--text-size-medium-h2-md-p);
      }

      @include media-breakpoint-up(lg) {
        font-size: var(--text-size-medium-h2-lg);
        padding-bottom: var(--text-size-medium-h2-lg-p);
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-h2-xl);
        padding-bottom: var(--text-size-medium-h2-xl-p);
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-h2-xxl);
        padding-bottom: var(--text-size-medium-h2-xxl-p);
      }
    }
  }

  blockquote {
    p {
      margin: 0;
      font-size: var(--text-size-medium-q-xs);
      padding-bottom: var(--text-size-medium-q-xs-p);
      line-height: var(--text-size-medium-q-lh);
      letter-spacing: var(--text-size-medium-q-ls);
      font-weight: var(--text-size-medium-q-w);
      text-transform: var(--text-size-medium-q-t);

      &:last-child {
        margin: 0;
        padding: 0;
      }

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-q-sm);
        padding-bottom: var(--text-size-medium-q-sm-p);
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-q-md);
        padding-bottom: var(--text-size-medium-q-md-p);
      }

      @include media-breakpoint-up(lg) {
        font-size: var(--text-size-medium-q-lg);
        padding-bottom: var(--text-size-medium-q-lg-p);
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-q-xl);
        padding-bottom: var(--text-size-medium-q-xl-p);
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-q-xxl);
        padding-bottom: var(--text-size-medium-q-xxl-p);
      }
    }

    cite {
      margin: 0;
      font-size: var(--text-size-medium-c-xs);
      padding-bottom: var(--text-size-medium-c-xs-p);
      line-height: var(--text-size-medium-c-lh);
      letter-spacing: var(--text-size-medium-c-ls);
      font-weight: var(--text-size-medium-c-w);
      text-transform: var(--text-size-medium-c-t);
      font-style: normal;

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-c-sm);
        padding-bottom: var(--text-size-medium-c-sm-p);
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-c-md);
        padding-bottom: var(--text-size-medium-c-md-p);
      }

      @include media-breakpoint-up(lg) {
        font-size: var(--text-size-medium-c-lg);
        padding-bottom: var(--text-size-medium-c-lg-p);
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-c-xl);
        padding-bottom: var(--text-size-medium-c-xl-p);
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-c-xxl);
        padding-bottom: var(--text-size-medium-c-xxl-p);
      }
    }
  }

  ol,
  ul {
    margin: 0;
    font-size: var(--text-size-medium-list-xs);
    padding-bottom: var(--text-size-medium-list-xs-p);
    line-height: var(--text-size-medium-list-lh);
    letter-spacing: var(--text-size-medium-list-ls);
    font-weight: var(--text-size-medium-list-w);
    text-transform: var(--text-size-medium-list-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-list-sm);
      padding-bottom: var(--text-size-medium-list-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-list-md);
      padding-bottom: var(--text-size-medium-list-md-p);
    }

    @include media-breakpoint-up(lg) {
      font-size: var(--text-size-medium-list-lg);
      padding-bottom: var(--text-size-medium-list-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-list-xl);
      padding-bottom: var(--text-size-medium-list-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-list-xxl);
      padding-bottom: var(--text-size-medium-list-xxl-p);
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    &:last-child {
      margin: 0;
      padding: 0;
    }
  }

  ol,
  ul {
    @include media-breakpoint-up(lg) {
      padding-left: var(--element-lg) !important;
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      padding-left: var(--element-xl) !important;
      padding-bottom: 0;
    }

    @include media-breakpoint-up(xxl) {
      padding-left: var(--element-xxl) !important;
      padding-bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }
}
