.card-propery-archive {
  display: block;
  text-decoration: none;

  .inner {
    .featured-image {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }

      .sold {
        position: absolute;
        right: 18px;
        bottom: 18px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: clamp(1.1875rem, 0.99vw, 10rem);
        border-radius: clamp(0.6rem, 0.521vw, 10rem);
      }
    }

    h3 {
      font-size: clamp(1.1875rem, 0.99vw, 10rem);
      padding-top: clamp(1.3rem, 1.042vw, 10rem);
      padding-top: clamp(1.6rem, 1.302vw, 10rem);
      color: #ff664d !important;
    }

    .address {
      font-size: clamp(1.563rem, 1.458vw, 10rem);
    }
    .area {
      font-size: clamp(1.125rem, 0.938vw, 10rem);
      display: block;
    }

    .property-links {
      display: block;
      padding-top: clamp(2.188rem, 1.823vw, 10rem);
      display: flex;
      flex-direction: row;
      align-items: center;

      a {
        font-family: var(--font-strong);
        text-transform: uppercase;
        font-size: clamp(0.938rem, 0.781vw, 10rem);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          width: clamp(0.938rem, 0.781vw, 10rem);
          height: auto;

          margin-left: clamp(0.813rem, 0.677vw, 10rem);

          // --text-size-large-links-min: 1.375rem;
          // --text-size-large-links: 1.146vw;
          // --text-size-large-links-max: 5rem;
        }
      }
    }
  }
}
