.card-team-member {
  display: block;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  .inner {
    background: #fff;
    .featured-image {
      position: relative;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }

      .bio {
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #fff;
        //opacity: 0;

        .inner {
          padding: 1.5rem 1.5rem 0 1.5rem;
        }
       
      }

      .more-button {
        background: #fff;
        width: 45px;
        height: 45px;
        display: flex;
        position: absolute;
        justify-items: center;
        align-items: center;
        cursor: pointer;
        z-index: 500;
        top: -45px;
        right: 0;

        svg {
          margin: auto;
          width: 18px;
          height: auto;
        }

        .more {
          fill: none;
          stroke: #fc8061;
        }

        @include media-breakpoint-up(lg) {
          width: 45px;
          height: 45px;

          svg {
            margin: auto;
            width: 1.406vw;
            height: auto;
          }
        }

        &:hover {
          background: #fc8061;
          -webkit-transition: all $transition ease-out;
          -moz-transition: all $transition ease-out;
          -ms-transition: all $transition ease-out;
          -o-transition: all $transition ease-out;
          transition: all $transition ease-out;

          .more {
            fill: none;
            stroke: #fff;
            -webkit-transition: all $transition ease-out;
            -moz-transition: all $transition ease-out;
            -ms-transition: all $transition ease-out;
            -o-transition: all $transition ease-out;
            transition: all $transition ease-out;
          }
        }
      }

      .close-button {
        width: 45px;
        height: 45px;
        display: flex;
        position: absolute;
        justify-items: center;
        align-items: center;
        cursor: pointer;
        z-index: 500;
        top: -45px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        background: #fff;

        svg {
          margin: auto;
          width: 60%;
          height: auto;
        }

        .close {
          fill: none;
          stroke: #fc8061;
        }

        &:hover {
          background: #fc8061;
          -webkit-transition: all $transition ease-out;
          -moz-transition: all $transition ease-out;
          -ms-transition: all $transition ease-out;
          -o-transition: all $transition ease-out;
          transition: all $transition ease-out;

          .close {
            fill: none;
            stroke: #fff;
            -webkit-transition: all $transition ease-out;
            -moz-transition: all $transition ease-out;
            -ms-transition: all $transition ease-out;
            -o-transition: all $transition ease-out;
            transition: all $transition ease-out;
          }
        }
      }
    }

    .meta {
      position: relative;

      h3 {
        text-decoration: none;
        margin: 0;
        padding: 0;
        padding-bottom: 0.3rem;
      }

      .position {
        margin: 0;
        padding: 0;
        padding-bottom: 0.15rem;
      }

      .v-card {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        color: #687f82;
        display: flex;
        align-items: center;

        &:before {
          content: '';
          width: 0.833vw;
          height: 100%;
          position: absolute;
          left: -1.2vw;
          top: 0;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15.278" height="15.279" viewBox="0 0 15.278 15.279"><defs><style> .cls-1 { fill: %236e6e6e; } </style></defs><path id="Icon_ionic-md-contact" data-name="Icon ionic-md-contact" class="cls-1" d="M11.014,3.375a7.639,7.639,0,1,0,7.639,7.639A7.662,7.662,0,0,0,11.014,3.375Zm0,2.292A2.292,2.292,0,1,1,8.722,7.958,2.3,2.3,0,0,1,11.014,5.667Zm0,11.033a5.565,5.565,0,0,1-4.583-2.446c.037-1.528,3.056-2.369,4.583-2.369s4.547.841,4.583,2.369A5.574,5.574,0,0,1,11.014,16.7Z" transform="translate(-3.375 -3.375)"/></svg>');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .contacts {
        display: flex;
        align-items: center;
        position: relative;

        a {
          color: #032c33 !important;
          position: relative;
          text-decoration: none;
          padding-right: clamp(
            var(--text-size-medium-p-p-min),
            var(--text-size-medium-p-p),
            var(--text-size-medium-p-p-min)
          );
        }

        a + a {
          padding-left: clamp(
            var(--text-size-medium-p-p-min),
            var(--text-size-medium-p-p),
            var(--text-size-medium-p-p-min)
          );
          &:after {
            content: '';
            background: #032c33;
            height: 100%;
            width: 1px;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}
