.card-post-archive {
  display: block;
  text-decoration: none;

  .inner {
    padding-bottom: 60px;
    position: relative;
    .featured-image {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }

    h3 {
      font-size: clamp(2.125rem, 1.771vw, 10rem);
      padding-top: clamp(3.438rem, 2.865vw, 10rem);
      padding-bottom: clamp(3.75rem, 3.125vw, 10rem);
      position: relative;

      &:after {
        content: '';
        height: 1px;
        width: 157px;
        bottom: clamp(1.875rem, 1.5625vw, 10rem);
        left: 0;
        position: absolute;
        background: #ff664d;
      }
    }

    p {
      font-size: clamp(1.5rem, 1.25vw, 10rem);
      padding-bottom: clamp(1.5rem, 1.25vw, 10rem);
      margin-bottom: 0;
    }

    .more {
      font-size: clamp(0.938rem, 0.781vw, 10rem);
      text-transform: uppercase;
      text-decoration: none;
      font-family: var(--font-strong);
      display: flex;
      align-items: center;

      svg {
        width: clamp(0.938rem, 0.781vw, 10rem);
        height: auto;
        margin-left: clamp(0.469rem, 0.39vw, 10rem);

        .arrow-colour {
          stroke: #ff664d;
        }
      }
    }
  }

  .medium {
    position: relative;

    .featured-image {
      width: 100%;
      padding-right: 48px;
      height: auto;
      flex: none;
    }
    .info {
      padding-bottom: 48px;
      h3 {
        padding-top: 0;
      }
    }
  }
}
