:root {
  /* --- */
  --mobile-banner-background: #66ffd0;
  --mobile-banner-height: 80px;
  --mobile-menu-dropdown-background: #66ffd0;
  --mobile-banner-shadow: none;
  --mobile-banner-logo-h-padding: 15px;
  --mobile-banner-logo-v-padding: 15px;

  /* --- */
  --banner-height: 80px;
  --banner-background: #66ffd0;
  --banner-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --banner-logo-v-padding: 20px;

  /* --- */
  --banner-background-hover: #fff;
  --banner-background-active: #fff;
  --banner-text-colour: #0f272d;
  --banner-hover-colour: #fff;
  --banner-active-colour: #fff;

  /* --- */
  --banner-font-weight: 300;
  --banner-text-letter-spacing: normal;
  --banner-text-transform: none;

  /* --- */
  --banner-link-xs-text-size: 29px; // not used
  --banner-link-sm-text-size: 29px; // not used
  --banner-link-md-text-size: 29px; /// not used
  --banner-link-lg-text-size: 3.4vw;
  --banner-link-xl-text-size: 3.4vw;
  --banner-link-xxl-text-size: 3.4vw;

  --menu-xs-text-size: 14px; // not used
  --menu-sm-text-size: 14px; // not used
  --menu-md-text-size: 14px; /// not used
  --menu-lg-text-size: 0.781vw;
  --menu-xl-text-size: 0.781vw;
  --menu-xxl-text-size: 0.781vw;

  /* --- */
  --banner-link-xs-h-padding: 10px; // not used
  --banner-link-sm-h-padding: 10px; // not used
  --banner-link-md-h-padding: 10px; // not used
  --banner-link-lg-h-padding: 20px;
  --banner-link-xl-h-padding: 20px;
  --banner-link-xxl-h-padding: 20px;

  /* --- */
  --banner-link-xs-v-padding: 37px; // not used
  --banner-link-sm-v-padding: 37px; // not used
  --banner-link--md-v-padding: 37px; // not used
  --banner-link-lg-v-padding: 41px;
  --banner-link-xl-v-padding: 41px;
  --banner-link-xxl-v-padding: 41px;

  /* --- */
  --mobile-nav-toggle-width: 70px;
  --mobile-nav-toggle-height: 30px;
  --mobile-nav-toggle-thickness: 12%;
  --mobile-nav-toggle-offset: 43%;
  --mobile-nav-toggle-bg: #fff;
  --mobile-nav-toggle-colour: #d5a65a;
  --mobile-nav-toggle-open-bg: #0f272d;
  --mobile-nav-toggle-open-colour: #fff;
}

.burger-menu-style {
  position: fixed;
  z-index: 5000;
  width: 100vw;

  .banner {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    text-align: center;
    height: var(--mobile-banner-height);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    //display: block;
    background: var(--mobile-banner-background);
    -webkit-box-shadow: var(--mobile-banner-shadow);
    -moz-box-shadow: var(--mobile-banner-shadow);
    box-shadow: var(--mobile-banner-shadow);

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      height: var(--banner-height);
      background: var(--banner-background);
      -webkit-box-shadow: var(--banner-shadow);
      -moz-box-shadow: var(--banner-shadow);
      box-shadow: var(-banner-shadow);
    }

    .brand {
      height: 100%;
      position: relative;
      display: inline-block;
      z-index: 550;
      padding-top: var(--mobile-banner-logo-v-padding);
      padding-bottom: var(--mobile-banner-logo-v-padding);
      padding-left: var(--mobile-banner-logo-h-padding);
      padding-right: var(--mobile-banner-logo-h-padding);
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include media-breakpoint-up(md) {
        padding-top: var(--banner-logo-v-padding);
        padding-bottom: var(--banner-logo-v-padding);
        padding-left: var(--banner-logo-h-padding);
        padding-right: var(--banner-logo-h-padding);
      }

      img {
        width: auto;
        height: 30px;
        @include media-breakpoint-up(lg) {
          width: auto;
          height: 30px;
        }
      }

      svg {
        width: 234px;
        height: auto;
        @include media-breakpoint-up(lg) {
          width: 12.865vw;
          height: auto;
        }
      }
    }
  }

  #show-menu {
    // top: calc((var(--banner-height) - var(--mobile-nav-toggle-height)) / 2);
    //right: calc (var(--mobile-banner-logo-h-padding) * 2);
    //position: fixed;
    //width: 38px;
    //height: 38px;
    //right: 22px;
    //top: 15px;

    @include media-breakpoint-up(lg) {
      left: 1.198vw;
      top: 1.198vw;
      width: var(--mobile-nav-toggle-width);
      height: var(--mobile-nav-toggle-height);
      //  background: var(--mobile-nav-toggle-bg);
    }

    float: right;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    //padding: 0.781vw 0.625vw;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    // span {
    //   width: 100%;
    //   height: var(--mobile-nav-toggle-thickness);
    //   display: block;
    //   background: var(--mobile-nav-toggle-colour);
    //   position: relative;
    //   top: 0;
    //   left: 0;
    //   -ms-transform: rotate(0deg);
    //   -webkit-transform: rotate(0deg);
    //   transform: rotate(0deg);
    //   -webkit-transition: $transition ease-in-out;
    //   -moz-transition: $transition ease-in-out;
    //   -o-transition: $transition ease-in-out;
    //   transition: $transition ease-in-out;
    // }

    // span + span {
    //   // top: 41%;
    // }

    // span + span + span {
    //   -ms-transform: rotate(0deg);
    //   -webkit-transform: rotate(0deg);
    //   transform: rotate(0deg);
    //   -webkit-transition: $transition ease-in-out;
    //   -moz-transition: $transition ease-in-out;
    //   -o-transition: $transition ease-in-out;
    //   transition: $transition ease-in-out;
    // }
  }

  .nav-primary {
    display: none;
  }

  &.menu-open {
    .nav-primary {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      //background: rgba(255, 255, 255, 0.5);
      z-index: 600;
      .inner {
        position: relative;
        background: var(--mobile-menu-dropdown-background);
        border-bottom-left-radius: 20vh 20vh;
        overflow: hidden;
        @include media-breakpoint-up(lg) {
          //width: 65.104vw;
          width: auto;
        }
        height: 100vh;
        z-index: 600;
        text-align: left;
        right: 0;
        margin-left: auto;
        //background: #f5f5f2;

        h3 {
          margin: 0;
          display: block;
          color: #d5a65a;
          font-family: var(--font-copy);
          font-size: var(--text-size-medium-lead-in-xs);
          padding-bottom: 10px;
          line-height: 1.5;
          letter-spacing: var(--text-size-medium-lead-in-ls);
          font-weight: var(--text-size-medium-lead-in-w);
          text-transform: var(--text-size-medium-lead-in-t);

          @include media-breakpoint-up(sm) {
            font-size: var(--text-size-medium-lead-in-sm);
          }

          @include media-breakpoint-up(md) {
            font-size: var(--text-size-medium-lead-in-md);
          }

          @include media-breakpoint-up(lg) {
            font-size: var(--text-size-medium-lead-in-lg);
            padding-bottom: var(--text-size-medium-lead-in-lg-p);
          }

          @include media-breakpoint-up(xl) {
            font-size: var(--text-size-medium-lead-in-xl);
            padding-bottom: var(--text-size-medium-lead-in-xl-p);
          }

          @include media-breakpoint-up(xxl) {
            font-size: var(--text-size-medium-lead-in-xxl);
            padding-bottom: var(--text-size-medium-lead-in-xxl-p);
          }
        }

        p {
          margin: 0;
          display: block;
          font-size: var(--text-size-medium-lead-in-xs);
          font-family: var(--font-copy);
          padding-bottom: var(--text-size-medium-lead-in-xs-p);
          line-height: 1.5;
          letter-spacing: var(--text-size-medium-lead-in-ls);
          font-weight: var(--text-size-medium-lead-in-w);
          text-transform: var(--text-size-medium-lead-in-t);

          @include media-breakpoint-up(sm) {
            font-size: var(--text-size-medium-lead-in-sm);
            padding-bottom: var(--text-size-medium-lead-in-sm-p);
          }

          @include media-breakpoint-up(md) {
            font-size: var(--text-size-medium-lead-in-md);
            padding-bottom: var(--text-size-medium-lead-in-md-p);
          }

          @include media-breakpoint-up(lg) {
            font-size: var(--text-size-medium-lead-in-lg);
            padding-bottom: var(--text-size-medium-lead-in-lg-p);
          }

          @include media-breakpoint-up(xl) {
            font-size: var(--text-size-medium-lead-in-xl);
            padding-bottom: var(--text-size-medium-lead-in-xl-p);
          }

          @include media-breakpoint-up(xxl) {
            font-size: var(--text-size-medium-lead-in-xxl);
            padding-bottom: var(--text-size-medium-lead-in-xxl-p);
          }
        }

        .nav-main {
          padding: 100px 30px 30px 30px;
          @include media-breakpoint-up(lg) {
            padding: 7.292vw 7.292vw 3.646vw 7.292vw;
          }
          background: var(--mobile-menu-dropdown-background);

          h3 {
            width: 180px;
            @include media-breakpoint-up(lg) {
              width: auto;
            }

            font-weight: var(--menu-xs-text-size);

            @include media-breakpoint-up(sm) {
              font-size: var(--menu-sm-text-size);
            }

            @include media-breakpoint-up(md) {
              font-size: var(--menu-md-text-size);
            }

            @include media-breakpoint-up(lg) {
              font-size: var(--menu-lg-text-size);
            }

            @include media-breakpoint-up(xl) {
              font-size: var(--menu-xl-text-size);
            }

            @include media-breakpoint-up(xxl) {
              font-size: var(--menu-xxl-text-size);
            }
          }

          ul.nav {
            display: flex;
            flex-direction: column;
            text-align: left;

            li {
              display: block;

              a {
                color: var(--banner-text-colour);
                letter-spacing: var(--banner-text-letter-spacing);
                font-family: var(--font-nav);
                font-weight: var(--banner-font-weight);
                text-transform: var(--banner-text-transform);
                padding: 0px;
                display: block;
                text-decoration: none;
                line-height: 1.4;
                -webkit-transition: all $transition ease-out;
                -moz-transition: all $transition ease-out;
                -ms-transition: all $transition ease-out;
                -o-transition: all $transition ease-out;
                transition: all $transition ease-out;
                font-size: var(--banner-link-xs-text-size);

                @include media-breakpoint-up(sm) {
                  font-size: var(--banner-link-sm-text-size);
                }

                @include media-breakpoint-up(md) {
                  font-size: var(--banner-link-md-text-size);
                }

                @include media-breakpoint-up(lg) {
                  font-size: var(--banner-link-lg-text-size);
                }

                @include media-breakpoint-up(xl) {
                  font-size: var(--banner-link-xl-text-size);
                }

                @include media-breakpoint-up(xxl) {
                  font-size: var(--banner-link-xxl-text-size);
                }

                &:before {
                  content: '\2013';
                  position: static;
                  left: 0;
                  top: 0;
                  margin-right: 1.7vw;
                }

                &:hover {
                  color: var(--banner-hover-colour);
                  -webkit-transition: all $transition ease-out;
                  -moz-transition: all $transition ease-out;
                  -ms-transition: all $transition ease-out;
                  -o-transition: all $transition ease-out;
                  transition: all $transition ease-out;
                }
              }
            }
          }
        }
        .nav-footer {
          padding: 30px 30px 30px 30px;
          @include media-breakpoint-up(lg) {
            padding: 3.646vw 7.292vw 3.646vw 7.292vw;
          }
          //background: #f5f5f2;

          // p::first-line {
          //   color: #d5a65a;
          // }
          h3 {
            color: #d5a65a;
            font-weight: var(--menu-xs-text-size);
            padding-bottom: var(--menu-xs-text-size);

            @include media-breakpoint-up(sm) {
              font-size: var(--menu-sm-text-size);
              padding-bottom: var(--menu-sm-text-size);
            }

            @include media-breakpoint-up(md) {
              font-size: var(--menu-md-text-size);
              padding-bottom: var(--menu-md-text-size);
            }

            @include media-breakpoint-up(lg) {
              font-size: var(--menu-lg-text-size);
              padding-bottom: var(--menu-lg-text-size);
            }

            @include media-breakpoint-up(xl) {
              font-size: var(--menu-xl-text-size);
              padding-bottom: var(--menu-xl-text-size);
            }

            @include media-breakpoint-up(xxl) {
              font-size: var(--menu-xxl-text-size);
              padding-bottom: var(--menu-xxl-text-size);
            }
          }

          p {
            font-weight: var(--menu-xs-text-size);
            padding-bottom: var(--menu-xs-text-size);

            @include media-breakpoint-up(sm) {
              font-size: var(--menu-sm-text-size);
              padding-bottom: var(--menu-sm-text-size);
            }

            @include media-breakpoint-up(md) {
              font-size: var(--menu-md-text-size);
              padding-bottom: var(--menu-md-text-size);
            }

            @include media-breakpoint-up(lg) {
              font-size: var(--menu-lg-text-size);
              padding-bottom: var(--menu-lg-text-size);
            }

            @include media-breakpoint-up(xl) {
              font-size: var(--menu-xl-text-size);
              padding-bottom: var(--menu-xl-text-size);
            }

            @include media-breakpoint-up(xxl) {
              font-size: var(--menu-xxl-text-size);
              padding-bottom: var(--menu-xxl-text-size);
            }
          }
        }
      }
    }

    #close-menu {
      position: absolute;
      top: 15px;
      right: 22px;
      width: 42px;
      height: 70px;
      //background: var(--mobile-nav-toggle-open-bg);

      @include media-breakpoint-up(lg) {
        top: 1.875vw;
        right: 2.344vw;
        width: var(--mobile-nav-toggle-width);
        height: var(--mobile-nav-toggle-height);
      }

      float: right;
      z-index: 500;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      cursor: pointer;
      //padding: 0.781vw 0.625vw;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;

      svg {
        width: 100%;
        height: auto;
      }

      // span {
      //   width: 70%;
      //   height: 2px;
      //   top: 43%;
      //   left: 0%;
      //   @include media-breakpoint-up(lg) {
      //     width: 100%;
      //     height: var(--mobile-nav-toggle-thickness);
      //     top: 43%;
      //     left: 0;
      //   }
      //   display: block;
      //   background: var(--mobile-nav-toggle-open-colour);
      //   position: relative;

      //   opacity: 1;
      //   -ms-transform: rotate(45deg);
      //   -webkit-transform: rotate(45deg);
      //   transform: rotate(45deg);
      //   -webkit-transition: $transition ease-in-out;
      //   -moz-transition: $transition ease-in-out;
      //   -o-transition: $transition ease-in-out;
      //   transition: $transition ease-in-out;
      // }

      // span + span {
      //   opacity: 0;
      // }

      // span + span + span {
      //   -ms-transform: rotate(-45deg);
      //   -webkit-transform: rotate(-45deg);
      //   transform: rotate(-45deg);
      //   background: var(--mobile-nav-toggle-open-colour);
      //   top: -45%;
      //   left: 0;
      //   opacity: 1;
      //   -webkit-transition: $transition ease-in-out;
      //   -moz-transition: $transition ease-in-out;
      //   -o-transition: $transition ease-in-out;
      //   transition: $transition ease-in-out;
      // }
    }
  }
}

.transparent {
  .burger-menu-style {
    .banner {
      .background {
        display: none;
      }

      background: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      .logo-dark {
        display: block;
      }

      .logo-white {
        display: none;
      }
    }
  }
}

.dark {
  .burger-menu-style {
    .banner {
      background: var(--background-color-dark);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      .logo-dark {
        display: none;
      }
    }
  }
}

.light {
  .burger-menu-style {
    .banner {
      background: var(--background-color-light);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      .background {
        opacity: 0.25;
      }

      .logo-white {
        display: none;
      }
    }
  }
}

.mobile-menu-background {
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 3000;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo-mobile {
    width: 105px;
    margin: auto;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
