.section-footer {
  .logo-footer {
    height: 30px;
    width: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color-white-links) !important;
    text-transform: uppercase;

    .lead-in-heading {
      color: var(--text-color-white-alt);
    }
  }

  p,
  ol,
  ul,
  blockquote {
    color: var(--text-color-white-copy);
  }

  cite {
    color: var(--text-color-white-copy);
  }

  a {
    color: var(--text-color-white-copy) !important;

    &:hover {
      color: var(--text-color-white-links-hover);
    }
  }

  .alt {
    color: var(--text-color-white-alt);
  }

  .seperator-inner {
    &::before {
      background: var(--text-color-white-copy);
    }
  }

  .bg-overlay {
    background: var(--text-color-white-overlay);
  }

  .number {
    color: var(--text-color-white-alt);
  }

  .text-border {
    border: 1px solid var(--text-color-white-alt);
    border-radius: clamp(
      var(--element-min),
      var(--element),
      var(--element-max)
    );
  }

  blockquote {
    &:before {
      background: var(--text-color-white-alt);
    }
  }

  .arrow-link {
    .arrow-colour {
      stroke: var(--text-color-white-links);
    }

    &:hover {
      .arrow-colour {
        stroke: var(--text-color-white-links-hover);
      }
    }
  }

  h2 {
    &:after {
      background: var(--text-color-white-alt) !important;
    }
  }
}
