.forminator-ui {
  .forminator-row {
    margin-bottom: 0 !important;
  }

  .no-label {
    .forminator-label {
      display: none !important;
    }
  }

  .title {
    border-top: 1px solid #e3e7e6;
    padding-top: var(--element-xs) !important;
    padding-bottom: var(--element-xs) !important;

    @include media-breakpoint-up(sm) {
      padding-top: var(--element-sm) !important;
      padding-bottom: var(--element-sm) !important;
    }

    @include media-breakpoint-up(md) {
      padding-top: var(--element-md) !important;
      padding-bottom: var(--element-md) !important;
    }

    @include media-breakpoint-up(lg) {
      padding-top: var(--element-lg) !important;
      padding-bottom: var(--element-lg) !important;
    }

    @include media-breakpoint-up(xl) {
      padding-top: var(--element-xl) !important;
      padding-bottom: var(--element-xl) !important;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: var(--element-xxl) !important;
      padding-bottom: var(--element-xxl) !important;
    }
  }

  .forminator-label {
    padding-bottom: 0.35vw !important;
    text-transform: uppercase;
    color: #292929 !important;

    margin: 0;
    display: block;
    font-size: var(--text-size-medium-lead-in-xs) !important;
    padding-bottom: var(--text-size-medium-lead-in-xs-p);
    line-height: var(--text-size-medium-lead-in-lh);
    letter-spacing: var(--text-size-medium-lead-in-mobile-ls) !important;
    font-weight: var(--text-size-medium-lead-in-w);
    text-transform: var(--text-size-medium-lead-in-t);

    @include media-breakpoint-up(sm) {
      font-size: var(--text-size-medium-lead-in-sm) !important;
      padding-bottom: var(--text-size-medium-lead-in-sm-p);
    }

    @include media-breakpoint-up(md) {
      font-size: var(--text-size-medium-lead-in-md) !important;
      padding-bottom: var(--text-size-medium-lead-in-md-p);
    }

    @include media-breakpoint-up(lg) {
      letter-spacing: var(--text-size-medium-lead-in-ls) !important;
      font-size: var(--text-size-medium-lead-in-lg) !important;
      padding-bottom: var(--text-size-medium-lead-in-lg-p);
    }

    @include media-breakpoint-up(xl) {
      font-size: var(--text-size-medium-lead-in-xl) !important;
      padding-bottom: var(--text-size-medium-lead-in-xl-p);
    }

    @include media-breakpoint-up(xxl) {
      font-size: var(--text-size-medium-lead-in-xxl) !important;
      padding-bottom: var(--text-size-medium-lead-in-xxl-p);
    }
  }

  .forminator-input {
    background: #fff !important;
    color: #292929 !important;

    &:focus {
      border-color: #d5a65a !important;
    }

    margin-bottom: var(--element-xs) !important;

    @include media-breakpoint-up(sm) {
      margin-bottom: var(--element-sm) !important;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: var(--element-md) !important;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: var(--element-lg) !important;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: var(--element-xl) !important;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: var(--element-xxl) !important;
    }
  }

  .forminator-checkbox-box {
    background: #fff !important;
    color: #292929 !important;
    border-color: #292929 !important;

    margin-bottom: var(--element-xs) !important;

    @include media-breakpoint-up(sm) {
      margin-bottom: var(--element-sm) !important;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: var(--element-md) !important;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: var(--element-lg) !important;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: var(--element-xl) !important;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: var(--element-xxl) !important;
    }
  }

  .forminator-has_error {
    position: relative;

    .forminator-error-message {
      padding: 0 !important;
      background-color: transparent !important;
      position: absolute !important;
      bottom: -25px !important;
    }
  }

  .forminator-field-consent {
    .forminator-has_error {
      position: relative;

      .forminator-error-message {
        padding: 0 !important;
        background-color: transparent !important;
        position: absolute !important;
        bottom: 5px !important;
      }
    }
  }

  .forminator-button-submit {
    background: #0f272d !important;
    color: #fff;
    border-radius: 15px !important;
    overflow: hidden;
    padding: 6px 17px 5px 17px !important;
    margin-top: 0.6vw !important;

    //   font-size: 14px !important;
    //   font-family: inherit !important;
    //   font-weight: 500 !important;
    //   -webkit-border-radius: 30px !important;
    //   -moz-border-radius: 30px !important;
    //   border-radius: 30px !important;
    //   padding: 11px 28px 12px !important;
    //   margin-top: 10px !important;
    //   line-height: 1.5 !important;
  }

  // select.forminator-select2
  //   + .forminator-select
  //   .selection
  //   span[role='combobox'].select2-selection--single
  //   .select2-selection__rendered {
  //   padding: 15px 5px 15px 15px !important;
  // }

  // .forminator-select2
  //   + .forminator-select
  //   .selection
  //   .select2-selection--single[role='combobox'] {
  //   border-color: #777771;
  //   background-color: #ffffff;
  //   -webkit-border-radius: 10px !important;
  //   -moz-border-radius: 10px !important;
  //   border-radius: 10px !important;
  // }

  // .forminator-select.forminator-select-dropdown-container--open
  //   .forminator-select-dropdown.forminator-dropdown--default {
  //   padding: 0px 0 !important;
  //   border-width: 1px;
  //   border-style: solid;
  // }

  // .forminator-select.forminator-select-dropdown-container--open
  //   .forminator-select-dropdown.forminator-dropdown--default {
  //   padding: 0 !important;
  //   border-width: 1px;
  //   border-style: solid;
  // }
}

// .forminator-select-dropdown {
//   // padding: 0 !important;
//   // border-color: #62e8b9 !important;
// }

// .select2-selection__placeholder {
//   // opacity: 1;
//   // color: #041c3a;
// }

::-webkit-input-placeholder {
  opacity: 1;
  color: #041c3a;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #041c3a;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #041c3a;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #041c3a;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #041c3a;
}

input:focus:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #041c3a;
}

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #041c3a;
}

input:focus:-ms-input-placeholder {
  opacity: 1;
  color: #041c3a;
}

/* -------------------------- */

textarea:focus::-webkit-input-placeholder {
  opacity: 1;
  color: #041c3a;
}

textarea:focus:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #041c3a;
}

textarea:focus::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #041c3a;
}

textarea:focus:-ms-input-placeholder {
  opacity: 1;
  color: #041c3a;
}
