#menu-socials-1,
.socials {
  $instagram: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30"><defs><style> .cls-1 { clip-path: url(%23clip-instagram); } .cls-2 { fill: %230e282c; } </style><clipPath id="clip-instagram"><rect width="30" height="30"/></clipPath></defs><g id="instagram" class="cls-1"><path id="Icon_awesome-instagram" data-name="Icon awesome-instagram" class="cls-2" d="M13.753,8.938A7.051,7.051,0,1,0,20.8,15.989,7.04,7.04,0,0,0,13.753,8.938Zm0,11.635a4.584,4.584,0,1,1,4.584-4.584A4.593,4.593,0,0,1,13.753,20.573ZM22.738,8.649A1.645,1.645,0,1,1,21.093,7,1.641,1.641,0,0,1,22.738,8.649Zm4.67,1.669a8.139,8.139,0,0,0-2.222-5.762,8.193,8.193,0,0,0-5.763-2.222c-2.271-.129-9.077-.129-11.348,0A8.182,8.182,0,0,0,2.313,4.55,8.165,8.165,0,0,0,.091,10.312c-.129,2.271-.129,9.076,0,11.347a8.139,8.139,0,0,0,2.222,5.762,8.2,8.2,0,0,0,5.763,2.222c2.271.129,9.077.129,11.348,0a8.14,8.14,0,0,0,5.763-2.222,8.192,8.192,0,0,0,2.222-5.762c.129-2.271.129-9.07,0-11.341ZM24.475,24.1A4.641,4.641,0,0,1,21.86,26.71c-1.81.718-6.107.552-8.107.552s-6.3.16-8.107-.552A4.641,4.641,0,0,1,3.031,24.1c-.718-1.81-.552-6.106-.552-8.107s-.16-6.3.552-8.107A4.641,4.641,0,0,1,5.646,5.268c1.81-.718,6.107-.552,8.107-.552s6.3-.16,8.107.552a4.641,4.641,0,0,1,2.614,2.614c.718,1.81.552,6.106.552,8.107S25.193,22.291,24.475,24.1Z" transform="translate(1.66 -0.303)"/></g></svg>');
  $facebook: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30"><defs><style> .cls-1 { clip-path: url(%23clip-facebook); } .cls-2 { fill: %230e282c; } </style><clipPath id="clip-facebook"><rect width="30" height="30"/></clipPath></defs><g id="facebook" class="cls-1"><path id="Icon_awesome-facebook-square" data-name="Icon awesome-facebook-square" class="cls-2" d="M24.549,2.25H2.946A2.946,2.946,0,0,0,0,5.2V26.8a2.946,2.946,0,0,0,2.946,2.946h8.423V20.4H7.5V16h3.866V12.643c0-3.814,2.271-5.921,5.749-5.921a23.425,23.425,0,0,1,3.407.3v3.743H18.606a2.2,2.2,0,0,0-2.481,2.377V16h4.221l-.675,4.4H16.126v9.347h8.423A2.946,2.946,0,0,0,27.495,26.8V5.2A2.946,2.946,0,0,0,24.549,2.25Z" transform="translate(1.617 -0.307)"/></g></svg>');
  $linkedin: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30"><defs><style> .cls-1 { clip-path: url(%23clip-linkedin); } .cls-2 { fill: %230e282c; } </style><clipPath id="clip-linkedin"><rect width="30" height="30"/></clipPath></defs><g id="linkedin" class="cls-1"><path id="Icon_awesome-linkedin" data-name="Icon awesome-linkedin" class="cls-2" d="M25.531,2.25H1.958A1.972,1.972,0,0,0,0,4.232V27.761a1.972,1.972,0,0,0,1.958,1.982H25.531a1.978,1.978,0,0,0,1.964-1.982V4.232A1.978,1.978,0,0,0,25.531,2.25ZM8.31,25.815H4.235V12.695H8.316v13.12ZM6.272,10.9A2.363,2.363,0,1,1,8.635,8.54,2.364,2.364,0,0,1,6.272,10.9ZM23.585,25.815H19.51V19.433c0-1.522-.031-3.48-2.117-3.48-2.123,0-2.449,1.657-2.449,3.369v6.493H10.869V12.695h3.909v1.792h.055a4.292,4.292,0,0,1,3.86-2.117c4.124,0,4.891,2.719,4.891,6.253Z" transform="translate(1.563 -0.307)"/></g></svg>');
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .instagram {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 1000px;

    a {
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background: #0e282c;
        -webkit-mask-image: $instagram;
        mask-image: $instagram;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }
  .facebook {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 1000px;
    a {
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background: #0e282c;
        -webkit-mask-image: $facebook;
        mask-image: $facebook;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }

  .linkedin {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 1000px;
    a {
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background: #0e282c;
        -webkit-mask-image: $linkedin;
        mask-image: $linkedin;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }
}

.menu-socials-container {
  ul {
    gap: 25px !important;
    .linkedin,
    .instagram,
    .facebook {
      width: 25px !important;
      height: 25px !important;
      a {
        &:after {
          background: #fff !important;
        }
      }
    }
  }
}
