.video-embed {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: clamp(1.875rem, 1.563vw, 10rem);
  overflow: hidden;
}
.video-embed iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
