.post-type-archive-property {
  #main {
    padding-top: 200px;
  }

  #filter-bar {
    // display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      //overflow: hidden;
    }

    .filter-controls {
      height: 100%;

      #grid-filters,
      #map-filters {
        height: 100%;
        position: relative;

        // &:after {
        //   content: '';
        //   position: absolute;
        //   right: 3vw;
        //   width: 1px;
        //   top: 0;

        //   background: #d3d3d3;
        //   height: 100%;
        // }
      }

      #map-filters {
        display: none;
      }
    }

    .filters {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
    }

    #view-controls {
      display: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      height: 56px;
      position: relative;

      @include media-breakpoint-up(lg) {
        height: auto;
        display: flex;
      }

      &:after {
        content: '';
        height: 1px;
        width: 150vw;
        left: -25vw;
        position: absolute;
        bottom: 0;
        background: #d3d3d3;
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }

    .view-btn {
      height: 4.5vw;
      display: flex;
      line-height: 1;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;
      color: #687f82;

      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;

      @include media-breakpoint-up(lg) {
        display: flex;
        padding: 1.198vw;
        border-right: 1px solid #d3d3d3;
        //overflow: hidden;
      }

      .icon {
        margin-right: 10px;
        @include media-breakpoint-up(lg) {
          margin-right: 1vw;
        }
      }

      .grid-icon {
        width: 18px;
        height: auto;
        @include media-breakpoint-up(lg) {
          width: 1.49vw;
          height: auto;
        }
      }

      .map-icon {
        width: 18px;
        height: auto;
        @include media-breakpoint-up(lg) {
          width: 1.4vw;
          height: auto;
        }
      }

      span {
        line-height: 0;
      }

      .map-cls-1,
      .map-cls-3 {
        fill: #687f82;
      }

      .grid-cls-1,
      .grid-cls-3 {
        fill: #687f82;
      }

      &.active {
        color: #ca385b;

        .map-cls-1,
        .map-cls-3 {
          fill: #ca385b;
        }

        .grid-cls-1,
        .grid-cls-3 {
          fill: #ca385b;
        }
      }
    }

    $handleWidth: 16px;
    $handleSpacing: 7px;

    $rangeBorder: #000000;
    $rangeFill: #121212;

    $transition: 0.2s;

    $handleBorder: #000;
    $handleFill: #333;

    $placeholderColor: #000;
    $placeholderFocusColor: #000;

    $inputColor: #000;
    $inputFocusColor: #000;

    #currency_selector,
    #map_currency_selector {
      // width: 6.51vw;
      position: relative;
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center;
      justify-content: flex-start;

      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
      padding-bottom: 20px;

      &:after {
        content: '';
        height: 1px;
        width: 150vw;
        left: -25vw;
        position: absolute;
        bottom: 0;
        background: #d3d3d3;
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      @include media-breakpoint-up(lg) {
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        width: 21%;
        text-align: center;
        justify-content: center;
        // padding-left: 1.5vw;
        // padding-right: 1.5vw;
        padding-top: 0.15vw;
        padding-bottom: 0.15vw;
      }

      .currency {
        color: #687f82;
        font-size: 13px;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
          font-size: 0.781vw;
        }

        &.active {
          color: #ca385b;
        }
      }

      #currency_gbp,
      #map_currency_gbp {
        position: relative;
        margin-right: 0.5vw;

        &:after {
          content: '';
          position: absolute;
          right: -0.4vw;
          width: 1px;
          top: 50%;
          margin-top: -0.3905vw;
          background: #d3d3d3;
          height: 0.781vw;
        }
      }

      #currency_eur,
      #map_currency_eur {
        position: relative;
        margin-left: 0.5vw;
        margin-right: 0.5vw;

        &:after {
          content: '';
          position: absolute;
          right: -0.4vw;
          width: 1px;
          top: 50%;
          margin-top: -0.3905vw;
          background: #d3d3d3;
          height: 0.781vw;
        }
      }

      #currency_usd,
      #map_currency_usd {
        position: relative;
        padding-left: 0.5vw;
      }
    }

    #price_min,
    #price_max,
    #map_price_min,
    #map_price_max {
      visibility: hidden;
      width: 0;
      padding: 0;
      display: none;
    }

    #slider-pounds,
    #map_slider-pounds {
      display: flex;
      flex-direction: column;
      text-align: left;
      position: relative;
      height: 56px;

      padding-left: 1.5vw;
      padding-right: 1.5vw;

      &:after {
        content: '';
        height: 1px;
        width: 150vw;
        left: -25vw;
        position: absolute;
        bottom: 0;
        background: #d3d3d3;
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      @include media-breakpoint-up(lg) {
        height: auto;
        border-right: 1px solid #d3d3d3;

        flex-direction: row;
        align-items: center;
      }

      label {
        position: relative;
        padding-top: 8px;
        padding-bottom: 13px;
        margin-left: -1.5vw;

        @include media-breakpoint-up(lg) {
          margin-left: 0;
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      #pounds-price,
      #map_pounds-price {
        min-width: 8vw;
        flex: none;
        display: block;
        text-align: right;

        color: #687f82;

        position: absolute;
        top: 0;
        right: 0;
        padding-top: 8px;
        padding-bottom: 13px;

        @include media-breakpoint-up(lg) {
          text-align: center;
          padding-top: 0px;
          padding-left: 1.8vw;
          padding-right: 0;
          position: relative;
        }

        font-size: var(--text-size-medium-lead-in-xs);

        line-height: var(--text-size-medium-lead-in-lh);
        letter-spacing: var(--text-size-medium-lead-in-ls);
        font-weight: var(--text-size-medium-lead-in-w);
        text-transform: var(--text-size-medium-lead-in-t);

        @include media-breakpoint-up(sm) {
          font-size: var(--text-size-medium-lead-in-sm);
          padding-bottom: 0;
        }

        @include media-breakpoint-up(md) {
          font-size: var(--text-size-medium-lead-in-md);
          padding-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
          display: inline;
          font-size: var(--text-size-medium-lead-in-lg);
          padding-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
          font-size: var(--text-size-medium-lead-in-xl);
          padding-bottom: 0;
        }
      }

      #pounds-price-slider,
      #map_pounds-price-slider {
        position: relative;
      }
    }

    #status_filter,
    #map_status_filter {
      // width: 7.031vw;
      position: relative;
      margin-right: 0.7vw;
      font-size: 0.781vw;
      padding-right: 0.7vw;
      padding-left: 1.5vw;

      // &:after {
      //   content: '';
      //   position: absolute;
      //   right: 0;
      //   width: 1px;
      //   top: 0;
      //   background: #d3d3d3;
      //   height: 100%;
      // }
    }

    label {
      margin: 0;
      display: block;
      flex: none;
      font-size: var(--text-size-medium-lead-in-xs);
      padding-bottom: 0;
      margin-top: 1px;
      padding-right: 1.5vw;
      color: #687f82;
      line-height: var(--text-size-medium-lead-in-lh);
      letter-spacing: var(--text-size-medium-lead-in-ls);
      font-weight: var(--text-size-medium-lead-in-w);
      text-transform: var(--text-size-medium-lead-in-t);

      @include media-breakpoint-up(sm) {
        font-size: var(--text-size-medium-lead-in-sm);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        font-size: var(--text-size-medium-lead-in-md);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        font-size: var(--text-size-medium-lead-in-lg);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xl) {
        font-size: var(--text-size-medium-lead-in-xl);
        padding-bottom: 0;
      }

      @include media-breakpoint-up(xxl) {
        font-size: var(--text-size-medium-lead-in-xxl);
        padding-bottom: 0;
      }
    }

    .ui-widget-content {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 11.458vw;
      }
    }

    .post-type-archive-property #filter-bar .ui-widget.ui-widget-content {
      border: 0px solid transparent;
      width: 250px;
    }

    .ui-slider-horizontal {
      height: 1px;
      top: 0px;
    }

    .ui-widget.ui-widget-content {
      border: 0px solid transparent;
    }

    .ui-slider-horizontal .ui-slider-range {
      top: -1px;
      height: 2px;
    }
    /*.ui-slider-horizontal .ui-slider-handle {
    top:  - $handleSpacing ;
    height: $handleSpacing;

  }*/

    .ui-widget-content {
      border: 10px solid #ff0000;
      background: $inputColor;
      color: $inputColor;
      // margin-bottom:50px;
    }

    .ui-slider .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: $handleWidth;
      height: $handleWidth;
      cursor: default;
      -ms-touch-action: none;
      touch-action: none;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;

      &:focus {
        outline: none;
      }
    }

    .ui-widget-header {
      border: 1px solid #ca385b;
      background: #ca385b;
      color: #ca385b;
      font-weight: 700;
    }

    .ui-button,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    html .ui-button.ui-state-disabled:active,
    html .ui-button.ui-state-disabled:hover {
      border: 10px solid transparent;
      //border: 1px solid $handleBorder;
      background: $handleFill;
      font-weight: 400;
      color: #555;
      cursor: pointer;
    }

    .ui-slider-horizontal .ui-slider-handle {
      top: -9px;
      margin-left: -9px;
      background: transparent !important;
      &:before {
        position: absolute;
        width: 14px;
        height: 14px;
        top: -8px;
        left: -7px;
        background: #ca385b;
        content: '';
        border-radius: 9px;
      }
    }
  }
  #grid-view {
    min-height: 640px;

    &.gbp {
      .price-gbp {
        display: block;
      }
      .price-usd {
        display: none;
      }

      .price-eur {
        display: none;
      }
    }

    &.usd {
      .price-gbp {
        display: none;
      }
      .price-usd {
        display: block;
      }

      .price-eur {
        display: none;
      }
    }

    &.eur {
      .price-gbp {
        display: none;
      }
      .price-usd {
        display: none;
      }

      .price-eur {
        display: block;
      }
    }
  }
  #map-view {
    display: none;
  }

  .contact_link {
    display: inline-block;
    margin-left: 2vw;
    text-decoration: none;
    color: #687f82;
    padding: 0.25vw 0.9vw;
    border-radius: 1.5vw;
    border: 1px solid #687f82;

    &:hover {
      color: #ca385b;
      border: 1px solid #ca385b;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23EAE9E4'><polygon points='0,0 100,0 50,50'/></svg>")
      no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-color: #fff;
  }
}
