.header-text {
  position: relative;
  z-index: 4000;

  .inner {
    width: 100%;
    z-index: 4;
    height: 100%;
    padding-top: var(--mobile-banner-height);
    @include media-breakpoint-up(lg) {
      padding-top: var(--banner-height);
    }
    //background-color: rgba(0, 0, 0, 0.3);
    position: relative;

    strong {
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline;
      }
    }
  }
}
