.header-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 4000;

  .bg-video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    //mix-blend-mode: multiply;

    top: 0;
    left: 0;

    .video-js {
      position: relative;
      width: 100%;
      height: 100%;
      padding-top: 0;
      background-color: transparent;
      //object-fit: cover;

      video {
        position: relative !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .video-js .vjs-tech {
        position: relative !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .header-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background-position: center;
    background-size: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    opacity: 0.1;
    z-index: 3;
  }

  .inner {
    width: 100%;
    z-index: 4;
    height: 100%;
    padding-top: var(--mobile-banner-height);
    @include media-breakpoint-up(lg) {
      padding-top: var(--banner-height);
    }
    //background-color: rgba(0, 0, 0, 0.3);
    position: relative;

    strong {
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline;
      }
    }
  }
}
