.section-property-single-map {
  position: relative;

  .map-header {
    position: relative;

    .background {
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.5;
    }

    .content {
      position: relative;
      z-index: 50;
    }
  }
  #map {
    width: 100vw;
    height: 500px;
    @include media-breakpoint-up(lg) {
      height: calc(100vw / 1.777);
    }
  }
}
