.section-property-single-cta {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .member-column {
    position: relative;

    &:before {
      content: '';
      width: 130%;
      display: none;

      position: absolute;
      background: #ecf1f2;
      // @include media-breakpoint-up(md) {
      //   height: 200%;
      //   top: -50%;
      //   left: calc(-1 * var(--element-md));
      // }

      @include media-breakpoint-up(lg) {
        display: block;
        height: 200%;
        top: -50%;
        left: calc(-1 * var(--element-lg));
      }

      @include media-breakpoint-up(xl) {
        height: 200%;
        top: -50%;
        left: calc(-1 * var(--element-xl));
      }

      @include media-breakpoint-up(xxl) {
        height: 200%;
        top: -50%;
        left: calc(-1 * var(--element-xxl));
      }
    }

    .inner {
      position: relative;
    }
  }
}
