.section-landing-gallery {
  .grid-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  [lightbox-toggle] {
    cursor: zoom-in;

    &:after {
      position: absolute;
      content: url('data:image/svg+xml; utf8, ');
      height: 32px;
      width: 32px;
      bottom: 0;
      right: 0;
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.2s;
    }

    &:hover {
      &:after {
        opacity: 1;
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  }
}
.c-lightbox {
  $c: &;

  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  #{$c}__container {
    width: 100%;
    height: 100%;
  }

  #{$c}__close {
    z-index: 999999;
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    font-size: 30px;
    padding: 20px;
    color: white;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 0 45 45"><defs><style> .cls-1 { fill: %230f272d; } .cls-2 { clip-path: url(%23clip-path); } .cls-3 { opacity: 0.787; isolation: isolate; } .cls-4 { fill: %23fff; } </style><clipPath id="clip-path"><rect id="Rectangle_88" data-name="Rectangle 88" class="cls-1" width="45" height="45"/></clipPath></defs><g id="Group_13462" data-name="Group 13462" transform="translate(-1164 -36)"><g id="Group_120" data-name="Group 120" transform="translate(1164 36)"><g id="Group_119" data-name="Group 119" class="cls-2"><g id="Group_118" data-name="Group 118" class="cls-3"><g id="Group_117" data-name="Group 117"><g id="Group_116" data-name="Group 116" class="cls-2"><path id="Path_1388" data-name="Path 1388" class="cls-1" d="M22.5,0A22.5,22.5,0,1,1,0,22.5,22.5,22.5,0,0,1,22.5,0"/></g></g></g></g></g><rect id="Rectangle_89" data-name="Rectangle 89" class="cls-4" width="2" height="22" transform="translate(1178.015 51.43) rotate(-45)"/><rect id="Rectangle_90" data-name="Rectangle 90" class="cls-4" width="22" height="2" transform="translate(1178.015 65.57) rotate(-45)"/></g></svg>');
    background-size: contain;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: 9999px;

    &:hover {
      color: red;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    color: white;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white;

    &:hover {
      color: red;
    }

    &:after {
      font-size: 30px;
    }
  }

  .swiper-button-next {
    background: url('data:image/svg+xml,<svg id="Group_13463" data-name="Group 13463" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="76.915" height="76.915" viewBox="0 0 76.915 76.915"><defs><style> .cls-1, .cls-2, .cls-5, .cls-7 { fill: none; } .cls-1, .cls-3, .cls-5 { stroke: %23d5a65a; stroke-width: 1.5px; } .cls-2 { stroke: %23cdd4d5; } .cls-3 { fill: %23fff; } .cls-4 { clip-path: url(%23clip-path); } .cls-5 { stroke-miterlimit: 10; } .cls-6 { stroke: none; } </style><clipPath id="clip-path"><rect id="Rectangle_105" data-name="Rectangle 105" class="cls-1" width="40.806" height="21.097"/></clipPath></defs><g id="Group_13175" data-name="Group 13175"><g id="Ellipse_1" data-name="Ellipse 1" class="cls-2"><circle class="cls-6" cx="38.458" cy="38.458" r="38.458"/><circle class="cls-7" cx="38.458" cy="38.458" r="37.958"/></g></g><g id="Group_13176" data-name="Group 13176" transform="translate(16.707 27.909)"><path id="Path_1391" data-name="Path 1391" class="cls-3" d="M0,5.364H0Z" transform="translate(0 5.184)"/><g id="Group_13046" data-name="Group 13046" transform="translate(0 0)"><g id="Group_13045" data-name="Group 13045" class="cls-4"><line id="Line_22" data-name="Line 22" class="cls-5" x2="39.416" transform="translate(0 10.548)"/><path id="Path_1392" data-name="Path 1392" class="cls-5" d="M15.032.353l9.854,9.854L15.032,20.06" transform="translate(14.529 0.341)"/></g></g></g></svg>');
    width: 4.5vw;
    height: 4.5vw;
    background-size: contain;
    position: absolute;
    top: 50%;
    margin-top: -2.5vw;
    right: 2.5vw;
  }

  .swiper-button-prev {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="76.915" height="76.915" viewBox="0 0 76.915 76.915"><defs><style> .cls-1, .cls-2, .cls-5, .cls-7 { fill: none; } .cls-1, .cls-3, .cls-5 { stroke: %23d5a65a; stroke-width: 1.5px; } .cls-2 { stroke: %23cdd4d5; opacity: 0.998; } .cls-3 { fill: %23fff; } .cls-4 { clip-path: url(%23clip-path); } .cls-5 { stroke-miterlimit: 10; } .cls-6 { stroke: none; } </style><clipPath id="clip-path"><rect id="Rectangle_105" data-name="Rectangle 105" class="cls-1" width="40.806" height="21.097"/></clipPath></defs><g id="Group_13464" data-name="Group 13464" transform="translate(-83 -530.193)"><g id="Group_13311" data-name="Group 13311" transform="translate(159.915 607.108) rotate(180)"><g id="Group_13175" data-name="Group 13175" transform="translate(0)"><g id="Ellipse_1" data-name="Ellipse 1" class="cls-2"><circle class="cls-6" cx="38.458" cy="38.458" r="38.458"/><circle class="cls-7" cx="38.458" cy="38.458" r="37.958"/></g></g><g id="Group_13176" data-name="Group 13176" transform="translate(16.707 27.909)"><path id="Path_1391" data-name="Path 1391" class="cls-3" d="M0,0H0Z" transform="translate(0 10.548)"/><g id="Group_13046" data-name="Group 13046" transform="translate(0 0)"><g id="Group_13045" data-name="Group 13045" class="cls-4"><line id="Line_22" data-name="Line 22" class="cls-5" x2="39.416" transform="translate(0 10.548)"/><path id="Path_1392" data-name="Path 1392" class="cls-5" d="M0,0,9.854,9.854,0,19.707" transform="translate(29.561 0.694)"/></g></g></g></g></g></svg>');
    width: 4.5vw;
    height: 4.5vw;
    background-size: contain;
    position: absolute;
    top: 50%;
    margin-top: -2.5vw;
    left: 2.5vw;
  }

  #{$c}__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75%;
    width: 75%;
    text-align: center;
    cursor: zoom-in;

    img {
      width: auto;
      height: auto;
      max-height: 80vh;
      max-width: 80vw;
    }
  }
}
