.section-locations-carousel {
  position: relative;

  .swiper-slide {
    width: auto;

    .inner {
      position: relative;
      height: 100%;
      background: #fff;
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
      }
      .image {
        width: 100%;
        height: auto;

        @include media-breakpoint-up(lg) {
          width: 40vw;
          height: 100%;
        }

        img {
          width: 100%;
          height: auto;

          @include media-breakpoint-up(lg) {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .text {
        .serif {
          font-size: 3.542vw !important;
        }
        background-color: #fff;
        padding: 20px;
        @include media-breakpoint-up(lg) {
          width: 30vw;
          padding: 3.125vw 3.906vw;
        }
      }
    }
  }

  .navigation-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7.292vw;
    padding-right: 7.292vw;
    height: 90px;
    align-items: center;
    border-top: 1px solid #cdd4d5;
    z-index: 50;

    @include media-breakpoint-up(lg) {
      border-top: none;
      height: auto;
      position: relative;
      bottom: auto;
      left: auto;
      justify-content: end;
      padding-left: 0;
      padding-right: 0;
    }

    align-items: center;
    gap: 3.125vw;

    .swiper-wrapper {
      .swiper-slide {
        &:first-child {
          overflow: hidden;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }

    .pagination {
      display: flex;
      width: auto !important;
      align-items: center;
      .swiper-pagination {
        position: relative !important;
        top: auto !important;
        bottom: auto !important;
      }

      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;

      gap: 1.5vw;

      .swiper-button-disabled {
        opacity: 0, 5;
      }

      .button-prev {
        display: inline-block;
        width: 40px;
        height: 40px;
        @include media-breakpoint-up(lg) {
          width: 3.958vw;
          height: 3.958vw;
        }

        svg {
          width: 100%;
          height: auto;
        }
      }
      .button-next {
        display: inline-block;
        width: 40px;
        height: 40px;
        @include media-breakpoint-up(lg) {
          width: 3.958vw;
          height: 3.958vw;
        }

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
