.text-lg-left {
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.text-lg-right {
  @include media-breakpoint-up(lg) {
    text-align: right;
  }
}

.text-right {
  text-align: right;
}
