.h-mobile-auto {
  @include media-breakpoint-down(lg) {
    height: auto;

    .inner {
      height: auto;
    }
  }
}

.h-mobile-fullscreen {
  @include media-breakpoint-down(lg) {
    height: 100vh;
  }
}

.h-desktop-auto {
  @include media-breakpoint-up(lg) {
    height: auto;

    .inner {
      height: auto;
    }
  }
}

.h-desktop-fullscreen {
  @include media-breakpoint-up(lg) {
    height: 100vh;
    .inner {
      position: relative;
      height: 100%;
    }
  }
}

.h-fullscreen-minus-nav-mobile,
.h-mobile-fullscreen-minus-nav {
  @include media-breakpoint-down(lg) {
    height: calc(100vh - var(--banner-height));

    .inner {
      position: relative;
      height: 100%;
    }
  }
}

.h-fullscreen-minus-nav-desktop,
.h-desktop-fullscreen-minus-nav {
  @include media-breakpoint-up(lg) {
    height: calc(100vh - var(--banner-height));

    .inner {
      position: relative;
      height: 100%;
    }
  }
}

.full-height {
  height: 100%;
}

.h-full-mobile {
  @include media-breakpoint-down(lg) {
    height: 100%;
  }
}

.h-full-desktop {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}
