.section-area-map {
  position: relative;

  .marker-list {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    .header-wrapper {
      position: relative;
      &:before {
        content: '';
        width: calc(100% + var(--bs-gutter-x));
        height: 1px;
        position: absolute;
        left: calc(-1 * var(--bs-gutter-x) * 0.5);
        bottom: 0;
        background: #cdd4d5;
        opacity: 0.5;
        z-index: 1000;
      }

      &:after {
        content: '';
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36.549" height="19.52" viewBox="0 0 36.549 19.52"> <defs> <style> .cls-1 { fill: %23dda54b; } </style> </defs> <path id="Path_1389" data-name="Path 1389" class="cls-1" d="M201.252,93.181l-9.911,9.76a11.958,11.958,0,0,0-16.726,0l-9.911-9.76,9.911-9.76a11.958,11.958,0,0,0,16.726,0Z" transform="translate(-164.703 -83.421)"/></svg>');
        width: 2.083vw;
        height: 1.042vw;
        position: absolute;
        left: calc(-1 * (1.7vw / 2));
        bottom: calc(-1 * (1.042vw / 2));
        margin-left: -1.042vw;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1000;
      }
    }
  }

  .map-header {
    position: relative;

    .background {
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.5;
    }

    .content {
      position: relative;
      z-index: 50;
    }
  }
  #map {
    width: 100%;
    height: 600px;

    position: relative;

    @include media-breakpoint-up(lg) {
      height: 900px;
      right: 0;
      width: calc(56.7vw);
    }
  }

  .gm-style-iw {
    padding: 0 !important;
    width: 380px !important;
  }

  .gm-style-iw-d {
    padding: 20px;
  }

  .gm-style-iw-d {
    h4,
    .h4 {
      margin: 0;
      font-family: var(--font-copy);
      font-size: 17px;
      padding-bottom: 10px;
      line-height: 1.2;
      letter-spacing: var(--text-size-medium-h4-mobile-ls);
      font-weight: var(--text-size-medium-h4-w);
      text-transform: var(--text-size-medium-h4-t);
    }

    P {
      font-size: 17px;
      line-height: 1.2;
    }
  }
}
