.section-clients-carousel {
  .animated-banner-left {
    // display: flex;
    // overflow: hidden;
    // width: 100%;
  }

  .animated-content-left,
  .animated-content-right {
    position: relative;
    top: 0;
    // display: flex;

    // flex: 0 0 auto;

    img {
      width: 20%;
      height: auto;
    }

    .image {
      position: absolute;
      top: 0;
    }
  }
}
