.section-blog-gallery {
  position: relative;
  .swiper-container {
    overflow: hidden;
  }
  .swiper-slide {
    background-color: var(--background-color-light);
  }

  .image {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .carousel-footer {
    position: relative;

    .pagination {
      display: flex;
      height: 14px;
      // height: var(--carousel-pagintation-size);
      justify-content: center;
      top: auto !important;
    }

    .navigation {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  .button-prev {
    display: inline-block;
    z-index: 5000;

    width: clamp(2.625rem, 2.188vw, 10rem);
    height: clamp(2.625rem, 2.188v, 10rem);

    svg {
      width: 100%;
      height: auto;
    }
  }
  .button-next {
    display: inline-block;
    z-index: 5000;

    width: clamp(2.625rem, 2.188vw, 10rem);
    height: clamp(2.625rem, 2.188v, 10rem);

    svg {
      width: 100%;
      height: auto;
    }
  }
}
