.section-carousel {
  .slide {
    position: relative;
    height: 500px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // display: flex;
    // width: 100%;
    // position: relative;
    // padding-top: clamp(18px, 1.302vw, 5rem);
    // padding-left: clamp(18px, 1.302vw, 5rem);
    // padding-bottom: clamp(18px, 1.302vw, 5rem);

    // .slide {

    //   position: relative;

    //   img {
    //     width: auto;
    //     height: 100%;
    //   }

    .slide-content {
      position: absolute;
      left: 50px;
      bottom: 50px;

      .h4 {
        position: relative;
        font-family: var(--font-strong);
        padding-bottom: clamp(
          calc(var(--text-size-medium-h4-p-min) * 2),
          calc(var(--text-size-medium-h4-p) * 2),
          calc(var(--text-size-medium-h4-p-max) * 2)
        ) !important;
        display: block;

        &:after {
          position: absolute;
          height: 1px;
          width: calc(100% - 50px);
          background: #fff;
          content: '';
          left: 0;
          bottom: clamp(
            var(--text-size-medium-h4-p-min),
            var(--text-size-medium-h4-p),
            var(--text-size-medium-h4-p-max)
          ) !important;
        }
      }

      .inner {
        h3 {
          font-family: var(--font-strong);
          padding-bottom: clamp(
            calc(var(--text-size-medium-h3-p-min) / 2),
            calc(var(--text-size-medium-h3-p) / 2),
            calc(var(--text-size-medium-h3-p-max) / 2)
          ) !important;

          &:before {
            position: absolute;
            height: 1px;
            width: calc(100% - 50px);
            background: #fff;
            content: '';
            left: 0;
            top: -10px;
          }
        }

        width: 30vw;
      }
    }
  }

  .navigation-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7.292vw;
    padding-right: 7.292vw;
    height: 90px;
    align-items: center;
    // border-top: 1px solid #cdd4d5;

    @include media-breakpoint-up(lg) {
      border-top: none;
      height: auto;
      position: relative;
      bottom: auto;
      left: auto;
     // justify-content: end;
      padding-left: 0;
      padding-right: 0;
    }

    align-items: center;
    gap: 3.125vw;

    .pagination {
      display: flex;
      width: auto !important;
      align-items: center;
      .swiper-pagination {
        position: relative !important;
        top: auto !important;
        bottom: auto !important;
      }

      .swiper-pagination-bullet {
        // width: 14px;
        // height: 14px;
        display: inline-block;
        border-radius: 50%;

        opacity: 1;
      }

      // .swiper-pagination-bullet-active {
      //   border: 1px solid #d5a65a;
      //   background: #d5a65a;
      // }
    }

    .navigation {
      display: flex;
      flex-direction: row;

      gap: 0.8vw;

      .swiper-button-disabled {
        opacity: 0, 5;
      }

      .button-prev {
        display: inline-block;
        width: 40px;
        height: 40px;
        @include media-breakpoint-up(lg) {
          width: 2.708vw;
          height: 2.708vw;
        }

        svg {
          width: 100%;
          height: auto;
        }
      }
      .button-next {
        display: inline-block;
        width: 40px;
        height: 40px;
        @include media-breakpoint-up(lg) {
          width: 2.708vw;
          height: 2.708vw;
        }

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
