.section-carousel {
  .slide {
    position: relative;
    height: 500px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // display: flex;
    // width: 100%;
    // position: relative;
    // padding-top: clamp(18px, 1.302vw, 5rem);
    // padding-left: clamp(18px, 1.302vw, 5rem);
    // padding-bottom: clamp(18px, 1.302vw, 5rem);

    // .slide {

    //   position: relative;

    //   img {
    //     width: auto;
    //     height: 100%;
    //   }

    .slide-content {
      position: absolute;
      left: 50px;
      bottom: 50px;

      .h4 {
        position: relative;
        font-family: var(--font-strong);
        padding-bottom: clamp(
          calc(var(--text-size-medium-h4-p-min) * 2),
          calc(var(--text-size-medium-h4-p) * 2),
          calc(var(--text-size-medium-h4-p-max) * 2)
        ) !important;
        display: block;

        &:after {
          position: absolute;
          height: 1px;
          width: calc(100% - 50px);
          background: #fff;
          content: '';
          left: 0;
          bottom: clamp(
            var(--text-size-medium-h4-p-min),
            var(--text-size-medium-h4-p),
            var(--text-size-medium-h4-p-max)
          ) !important;
        }
      }

      .inner {
        h3 {
          font-family: var(--font-strong);
          padding-bottom: clamp(
            calc(var(--text-size-medium-h3-p-min) / 2),
            calc(var(--text-size-medium-h3-p) / 2),
            calc(var(--text-size-medium-h3-p-max) / 2)
          ) !important;

          &:before {
            position: absolute;
            height: 1px;
            width: calc(100% - 50px);
            background: #fff;
            content: '';
            left: 0;
            top: -10px;
          }
        }

        width: 30vw;
      }
    }
  }
}
